<div class="solar">
    <div class="grid">
        <h1>Product Reviews</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="#stars" class="category-item__link">Accessories</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="#space" class="category-item__link">Binoculars</a>
                        </li>
                        <li class="category-item">
                            <a href="#exoplanets" class="category-item__link">Cameras</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Eyepieces</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Mounts</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Telescopes</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="grid__column-10">
                <h1>We test Vixen's new eyepiece line</h1>
                <h3>Gorgeous machining, high-quality optical components, and a few nice extras catapult these eyepieces to the top.</h3>
                <p>By Mike D. Reynolds  |  Published: Monday, April 25, 2016</p>
                <p>RELATED TOPICS: VIXEN | ACCESSORIES</p>
                <img src="../images/equipment/Vixenseyepieces.jpg" alt="">
                If you’ve been an active observer for any length of time, you know how telescopes and accessories have evolved. We often concern ourselves with a scope’s optical tube assembly, the quality of the primary optics, or its mount. And yet we often ignore the eyepieces. That’s a shame because many “standard” eyepieces do not enable the telescope to realize its potential. Vixen’s SSW ED Ultra Wide Eyepieces will.
                <h4>Background</h4>
                <p>A mere 50 years ago, most observers considered simple Huygens or Ramsden eyepieces to be their standards. A few might have acquired a more advanced Erfle, Kellner, or even an Orthoscopic design. Like telescopes and mounts, eyepieces also have evolved significantly, and many of today’s eyepieces feature new and improved optical designs, glass, coatings, and manufacturing techniques.</p>
                <p>Eyepieces have distinct features, including focal length (which determines the magnification) and apparent field of view — the angular diameter the eyepiece “sees.” The larger the apparent field, the greater the true field of view through the telescope will be.</p>
                <p>The apparent field of view has a range of 20°— considered a narrow field of view — to an extra-wide field of 100° or more. A small field of view reminds me of looking through a paper towel tube; you concentrate on the subject (usually a planet) but miss a lot of the universe around you. To gain a larger field of view requires a more sophisticated design, one that includes more elements (pieces) of high-quality glass.</p>
            </div>
        </div>
    </div>
</div>