<div class="solar">
    <div class="grid">
        <h1>Product Reviews</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="#accessories" class="category-item__link">Accessories</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="#binoculars" class="category-item__link">Binoculars</a>
                        </li>
                        <li class="category-item">
                            <a href="#exoplanets" class="category-item__link">Cameras</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Eyepieces</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Mounts</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Telescopes</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="grid__column-10">
                <p>Our product review database includes every new product, review, roundup, and buyers guide that has
                    appeared in Astronomy in the last few years.  Search our collection of over 300 products.</p>
                <div class="solar-layout">
                    <h1 id="accessories">Accessories</h1>

                    <div class="grid__row">
                        <div class="grid__column-3_10">
                            <div class="solar-item">
                                <div class="solar-item__img">
                                    <a href="/Equipment/Accessories_01">
                                        <img src="../images/equipment/Vixenseyepieces.jpg" alt="">
                                    </a>
                                    <div class="solar-item__info">
                                        <h1>
                                            <a href="/Equipment/Accessories_01">We test Vixen's new eyepiece line</a>
                                        </h1>
                                        <p>Monday, April 25, 2016  | by Mike D. Reynolds</p>
                                        <h4 class="solar-item__name">If you’ve been an active observer for any length
                                            of time, you know how telescopes and accessories have evolved. We often
                                            concern ourselves with a scope’s optical tube assembly, the quality of the
                                            primary optics, or its mount. And yet we o...</h4>
                                        <p>MORE ABOUT: VIXEN, ACCESSORIES</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__column-3_10">
                            <div href="#" class="solar-item">
                                <div class="solar-item__img">
                                    <img src="../images/equipment/Orion-EZ-Finder-Deluxe-II.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h1><a href="">Orion EZ Finder Deluxe II Telescope Reflex Sight</a></h1>
                                        <p>Monday, May 27, 2013</p>
                                        <h4 class="solar-item__name">Orion’s EZ Finder Deluxe II Telescope Reflex Sight
                                            projects an LED reticle pattern onto a large viewing window so you can
                                            easily aim your telescope. The product features four reticle patterns and
                                            five brightness levels. Price: $79.99 [t] 800.44...</h4>
                                        <p>MORE ABOUT: ACCESSORIES, ORION</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__column-3_10">
                            <div href="#" class="solar-item">
                                <div class="solar-item__img">
                                    <img src="../images/equipment/Celestron-Off-Axis-Guider.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h1><a href="">Celestron Off-Axis Guider</a></h1>
                                        <p>Monday, April 22, 2013</p>
                                        <h4 class="solar-item__name">Celestron's Off-Axis Guider uses an adjustable,
                                            multicoated 12.5-millimeter prism that allows you to locate a guide star.
                                            It has a fixed-orientation helical focuser and includes all needed spacers
                                            and adapters for most imaging configurations. Price: ...</h4>
                                        <p>MORE ABOUT: ACCESSORIES, CELESTRON</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="solar-layout">
                    <h1 id="binoculars">Binoculars</h1>
                    <div class="grid__row">
                        <div class="grid__column-3_10">
                            <div href="#" class="solar-item">
                                <div class="solar-item__img">
                                    <img src="../images/equipment/ASYER0921_02.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h1><a href="">Explore the sky with Oberwerk’s 20×65 ED Deluxe binoculars</a></h1>
                                        <p>Tuesday, September 14, 2021  | by Phil Harrington</p>
                                        <h4 class="solar-item__name">Those readers familiar with my Binocular Universe
                                            column may recall my monthly sign-off line, “Two eyes are better than one.”
                                            That’s not just a cliché; that’s my mantra. Ever since I became interested
                                            in astronomy, bino...</h4>
                                        <p>MORE ABOUT: BINOCULAR OBSERVING, BINOCULARS, PRODUCT REVIEWS</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__column-3_10">
                            <div href="#" class="solar-item">
                                <div class="solar-item__img">
                                    <img src="../images/equipment/Oberwerk-BT-70-45.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h1><a href="">Astronomy tests Oberwerk’s 45° 70mm Binocular Telescope</a></h1>
                                        <p>Tuesday, May 28, 2013  | by Phil Harrington</p>
                                        <h4 class="solar-item__name">It should be no secret that I love big binoculars.
                                            Viewing the universe with both eyes is a more personal experience than
                                            squinting through a telescope. So, when I was given a chance to review
                                            Oberwerk’s 45° 70mm Binocular Telescope (BT-70-...</h4>
                                        <p>MORE ABOUT: BINOCULARS, OBERWERK</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__column-3_10">
                            <div href="#" class="solar-item">
                                <div class="solar-item__img">
                                    <img src="../images/equipment/Denkmeier-Binotron-27.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h1><a href="">Denkmeier Optical Binotron-27 Super System</a></h1>
                                        <p>Friday, December 21, 2012</p>
                                        <h4 class="solar-item__name">Denkmeier’s Binotron-27 Super System features the
                                            company’s Power X Switch that allows three different powers with one pair
                                            of eyepieces. The unit has a rubber-coated body and dielectric coatings on
                                            the optics.Price: $1,099[t] 410.208.6014[w] www.den...</h4>
                                        <p>MORE ABOUT: BINOCULARS, DENKMEIER</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="solar-layout">
                    <h1 id="exoplanets">Exoplanets</h1>
                    <div class="grid__row">
                        <div class="grid__column-3_10">
                            <div href="#" class="solar-item">
                                <div class="solar-item__img">
                                    <a href="">
                                        <img src="../images/equipment/MallinCamJrPro.jpg" alt="">
                                    </a>
                                    <div class="solar-item__info">
                                        <h1><a href="">Road test: MallinCam Jr Pro</a></h1>
                                        <p>Monday, June 23, 2014  | by Craig and Tammy Temple</p>
                                        <h4 class="solar-item__name">Having been in the hobby of astrophotography for
                                            several years now, we have owned many different brands and types of
                                            equipment. And although we’d heard about the MallinCam Jr PRO Video CCD
                                            Observational System, we had never used one. Well, than...</h4>
                                        <p>MORE ABOUT: MALLINCAM, CAMERAS, CCD (CHARGE-COUPLED DEVICE)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__column-3_10">
                            <div href="#" class="solar-item">
                                <div class="solar-item__img">
                                    <a href="">
                                        <img src="../images/equipment/StarlightXpressTriusCCDcamera.jpg" alt="">
                                    </a>
                                    <div class="solar-item__info">
                                        <h1><a href="">We test Starlight Xpress’ new camera</a></h1>
                                        <p>Monday, August 24, 2015  | by Tony Hallas</p>
                                        <h4 class="solar-item__name">If you know me, you know I’m all about performance
                                            in a CCD camera. Recently, however, I discovered that good things can come
                                            in small packages. Starlight Xpress always has designed its CCD cameras
                                            around a compact architecture, and the company...</h4>
                                        <p>MORE ABOUT: STARLIGHT XPRESS, CAMERAS, CCD (CHARGE-COUPLED DEVICE)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__column-3_10">
                            <div href="#" class="solar-item">
                                <div class="solar-item__img">
                                    <a href="">
                                        <img src="../images/equipment/iOptron-SkyTracker-camera-mount.jpg" alt="">
                                    </a>
                                    <div class="solar-item__info">
                                        <h1><a href="">iOptron SkyTracker camera mount</a></h1>
                                        <p>Monday, February 25, 2013</p>
                                        <h4 class="solar-item__name">The iOptron SkyTracker camera mount for
                                            astrophotography runs on four AA batteries and attaches to a standard
                                            camera tripod. It features a DC servo motor, a built-in compass, and an
                                            illuminated polar scope for alignment.Price: $399[t] 866.399.4587[w]...</h4>
                                        <p>MORE ABOUT: CAMERAS, MOUNTS, IOPTRON</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>