<div class="solar">
    <div class="grid">
        <h1>Constellation Guide</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="/Constellation/Aquarius" class="category-item__link">Aquarius</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="#" class="category-item__link">Aquila</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Aries</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Auriga</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Boötes</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Cancer</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Canis</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Capricornus</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Cassiopeia</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Cygnus</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="grid__column-10">
                <div class="solar-layout">
                    <div class="grid__row">
                        <div class="grid__column-2_10">
                            <a href="/Constellation/Aquarius" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste/aquarius.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">Thanks to its position in the zodiac, not to
                                            mention a hit Broadway song, Aquarius the water bearer is one of the most
                                            famous constellations. But few people actually see it because it's so faint.
                                            It is home to the summer Delta Aquarid meteor shower, which, like the
                                            constellation itself, is fairly thin and sparse.</h4>
                                        <h1>Aquarius</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-2_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste/aquila.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">The brightest star in Aquila is Altair, "the eagle,"
                                            a white star that is about 17 light-years from Earth. Altair is the southern
                                            point of a pattern of three bright stars called the Summer Triangle. (Deneb,
                                            in the constellation Cygnus, forms the triangle's northeastern point.</h4>
                                        <h1>Aquila, the Eagle</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-2_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste/aries.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">
                                            Aries is famous not because of its brilliance, though, but because of its
                                            location: It is one of the 12 constellations of the zodiac. These
                                            constellations straddle the Sun's path across the sky, known as the
                                            ecliptic.</h4>
                                        <h1>Aries, the Ram</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-2_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste/auriga.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">The constellation has an uncertain origin. It might
                                            represent Neptune rising from the sea in a chariot. Or it might honor a
                                            legendary king of Athens; according to this tale, he invented a chariot
                                            that was drawn by four horses.</h4>
                                        <h1>Auriga, the Charioteer</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-2_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste/bootes_0.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">
                                            Arcturus, the fourth-brightest star in Earth's night sky, is about 25 times
                                            larger than the Sun, and it produces about a hundred times as much energy.
                                            But Arcturus is nearing the end of its life. In astronomical parlance,
                                            Arcturus has moved off the main sequence and entered the "giant" phase
                                            of its life.</h4>
                                        <h1>Boötes, the Herdsman</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-2_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste/cancer.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">Although it is one of the constellations of the
                                            zodiac, Cancer plays a relatively small role in both sky and skylore. It is
                                            a small constellation of faint stars, so it is difficult to find in the sky.</h4>
                                        <h1>Cancer, the Crab</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-2_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste/canis_major.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">
                                            The brightest star in Canis Major also is the brightest in the entire night
                                            sky — brilliant Sirius, which is just 8.6 light-years away. That's only
                                            twice as far as our closest stellar neighbor. Because it is the brightest
                                            star of the Great Dog, Sirius is known as the Dog Star.</h4>
                                        <h1>Canis Major, the Great Dog</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-2_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste/capricornus.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">Capricornus, the sea goat, bounds low across the
                                            southern sky in late summer and fall. Like all the constellations of the
                                            zodiac, Capricornus has as many mythological tales as it has stars.
                                            Capricornus gets its name from a Greek myth that says the god Pan was
                                            transformed into a half-goat, half-fish when he dived into the Nile River
                                            to escape the giant Typhon.</h4>
                                        <h1>Capricornus, the Sea-Goat</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-2_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste/cassiopeia.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">The mythological queen Cassiopeia floats overhead
                                            in fall and winter. The best time to see her is in late fall, when she
                                            stands high in the northeastern sky during the evening hours. Cassiopeia
                                            looks like a flattened "W" against the frothy background of our home galaxy,
                                            the Milky Way.</h4>
                                        <h1>Cassiopeia, the Queen</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-2_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste/cygnus.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">The brightest stars of Cygnus form a cross, so the
                                            swan is also known as the Northern Cross. Find it soaring high overhead
                                            during late summer evenings. The constellation's brightest star is Deneb —
                                            an Arabic word that means "the tail." Deneb represents the tail of the swan
                                            but the top of the cross.</h4>
                                        <h1>Cygnus, the Swan</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <ul class="pagination home-product__pagination">
                    <li class="pagination-item pagination-item-active">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item__icon fas fa-angle-left"></i>
                        </a>
                    </li>
                    <li class="pagination-item pagination-item-active">
                        <a href="" class="pagination-item__link">1</a>
                    </li>
                    <li class="pagination-item pagination-item-active">
                        <a href="" class="pagination-item__link">2</a>
                    </li>
                    <li class="pagination-item pagination-item-active">
                        <a href="" class="pagination-item__link">3</a>
                    </li>
                    <li class="pagination-item pagination-item-active">
                        <a href="" class="pagination-item__link">4</a>
                    </li>
                    <li class="pagination-item pagination-item-active">
                        <a href="" class="pagination-item__link">5</a>
                    </li>

                    <li class="pagination-item pagination-item-active">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item__icon fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
