<div class="solar">
    <div class="grid">
        <h1>Constellation Guide</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        <b>Category</b>
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="/constellation/aquarius-details" class="category-item__link">Aquarius</a>
                        </li>
                        <li class="category-item">
                            <a href="/constellation/aries-details" class="category-item__link">Aries</a>
                        </li>
                        <li class="category-item">
                            <a href="/constellation/cancer-details" class="category-item__link">Cancer</a>
                        </li>
                        <li class="category-item">
                            <a href="/constellation/capricon-details" class="category-item__link">Capricornus</a>
                        </li>
                        <li class="category-item">
                            <a href="/constellation/gemini-details" class="category-item__link">Gemeni</a>
                        </li>
                        <li class="category-item">
                            <a href="/constellation/leo-details" class="category-item__link">Leo</a>
                        </li>
                        <li class="category-item">
                            <a href="/constellation/libra-details" class="category-item__link">Libra</a>
                        </li>
                        <li class="category-item">
                            <a href="/constellation/pisces-details" class="category-item__link">Pisces</a>
                        </li>
                        <li class="category-item">
                            <a href="/constellation/sagittarius-details" class="category-item__link">Sagittarius</a>
                        </li>
                        <li class="category-item">
                            <a href="/constellation/scopio-details" class="category-item__link">Scorpion</a>
                        </li>
                        <li class="category-item">
                            <a href="/constellation/taurus-details" class="category-item__link">Taurus</a>
                        </li>
                        <li class="category-item">
                            <a href="/constellation/virgo-details" class="category-item__link">Virgo</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="grid__column-10">
                <div class="solar-layout">
                    <div class="grid__row">
                        <div class="grid__column-2_10">
                            <a href="/constellation/libra-details" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste2/libra.jfif" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">Libra represents a balance scale. The name may come from
                                            the fact that the Sun passed across the face of the constellation at the time of
                                            the autumnal equinox in September, when day and night are of roughly equal length,
                                            so the heavens are "balanced."</h4>
                                        <h1>Libra, the Scales</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-2_10">
                            <a href="/constellation/pisces-details" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste2/pisces.jfif" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">In the lore of the sky, spring is associated with the
                                            constellation Aries, the ram. Yet at the moment of the vernal equinox, which marks
                                            the beginning of spring in the northern hemisphere, the Sun actually stands within
                                            the borders of the next constellation over -- Pisces, the fishes.</h4>
                                        <h1>Pisces, the Fish</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-2_10">
                            <a href="/constellation/sagittarius-details" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste2/sagittarius.jfif" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">
                                            Sagittarius, the archer, slides low across the southern sky of summer. Sagittarius is
                                            a centaur — a mythological half-man, half-horse — who has drawn his bow. His arrow is
                                            pointing at Antares, the bright red heart of Scorpius, the scorpion. The archer is avenging
                                            Orion, who was slain by the scorpion's sting.</h4>
                                        <h1>Sagittarius, the Archer</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-2_10">
                            <a href="/constellation/scopio-details" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste2/scopio.jfif" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">Three bright stars form the "head" of Scorpius, the celestial scorpion,
                                            while its tail curves away below it in the southern sky of summer.</h4>
                                        <h1>Scorpius, the Scorpion</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-2_10">
                            <a href="/constellation/taurus-details" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste2/taurus.jfif" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">
                                            Taurus, the bull, is marked by a V-shaped pattern of stars that outlines the bull's face. Bright
                                            red Aldebaran, the "eye" of the bull, stands at one point of the V. This pattern is part of a cluster
                                            of stars called the Hyades — the second-closest star cluster to Earth. It consists of several hundred
                                            stars that lie about 130 light-years away.</h4>
                                        <h1>Taurus, the Bull</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-2_10">
                            <a href="/constellation/virgo-details" class="solar-item">
                                <div class="solar-item__img conste-item__img">
                                    <img src="../images/conste2/virgo.jfif" alt="">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">Virgo is the second-largest constellation -- so big that it takes about four
                                            hours for the whole thing to clear the eastern horizon. To the unaided eye, though, that huge area is
                                            basically a void, because only one bright star resides within its borders.</h4>
                                        <h1>Virgo</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <ul class="pagination home-product__pagination">
                    <li class="pagination-item pagination-item-active">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item__icon fas fa-angle-left"></i>
                        </a>
                    </li>
                    <li class="pagination-item pagination-item-active">
                        <a href="/constellation" class="pagination-item__link">1</a>
                    </li>
                    <li class="pagination-item pagination-item-active">
                        <a href="/constellation2" class="pagination-item__link">2</a>
                    </li>

                    <li class="pagination-item pagination-item-active">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item__icon fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
