<div class="footer">
    <div class="grid footer-layout">
        <div class="footer-item">
            <div class="footer-nav">
                <a href="/">
                    <img src="../images/logo.png" alt="Logo">
                </a>
            </div>
            <div class="footer-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/News">News</a></li>
                    <li><a href="">Observatory</a></li>
                </ul>
                <ul>
                    <li><a href="/SolarSystem">Solar System</a></li>
                    <li><a href="/Constellation">Constellation Guide</a></li>
                    <li><a href="">Photos</a></li>
                </ul>
                <div class="footer-nav">
                    <div class="social-list">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-pinterest"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>