<div class="home">
    <div class="home-layout">
        <img src="../images/home-header.jpg" alt="Vu trụ bao la" class="home-header_img">
        <!--    Begin Solar System -->
        <div class="home-item">
            <h1><a href="/SolarSystem">Solar System</a></h1>
            <div class="home-solar">
                <div class="solar_info">
                    <h3>The Sun contains 99.85% of all the matter in the Solar System. The planets, which condensed out
                        of the same disk of material that formed the Sun, contain only 0.135% of the mass of the solar
                        system. Jupiter contains more than twice the matter of all the other planets combined. Satellites
                        of the planets, comets, asteroids, meteoroids, and the interplanetary medium constitute the remaining
                        0.015%. The following table is a list of the mass distribution within our Solar System.</h3>
                </div>
                <div class="solar_info">
                    <a href="/SolarSystem">
                        <img src="../images/solar/Solar-system.jpg" alt="Solar system" class="solar-img">
                    </a>
                </div>
            </div>
        </div>
        <!-- End Solar System -->
        <!-- Begin Constellation -->
        <div class="home-item">
            <h1><a href="/Constellation">Constellation Guide</a></h1>
            <div class="home-conste">
                <div class="conste-info">
                    <h3>The International Astronomical Union recognizes 88 constellations covering the entire northern
                        and southern sky. Here is a selection of the most familiar and easily seen constellations in
                        the northern sky.</h3>
                </div>
                <div class="conste-info">
                    <a href="/Constellation">
                        <img class="constellation_item-1-img"
                             src="../images/conste/theautumnsky_700.JPG"
                             alt="Constellations">
                    </a>
                </div>
            </div>
        </div>
        <!-- End Constellation -->
        <!-- CSS EQUIPMENT -->
        <div class="home-item">
            <h1><a href="/Equipment">Equipment</a></h1>
            <div class="home-conste">
                <div class="equipment">
                    <div class="equipment-item">
                        <div class="equipment_img">
                            <a href="">
                                <img src="../images/equipment/Orion-EZ-Finder-Deluxe-II.jpg" alt="">
                            </a>
                        </div>
                        <div class="equipment_title">
                            <h2>
                                <a href="">Orion EZ Finder Deluxe II Telescope Reflex Sight</a>
                            </h2>
                        </div>
                    </div>
                    <div class="equipment-item">
                        <div class="equipment_img">
                            <a href="">
                                <img src="../images/equipment/Denkmeier-Binotron-27.jpg" alt="">
                            </a>
                        </div>
                        <div class="equipment_title">
                            <h2>
                                <a href="">Denkmeier Optical Binotron-27 Super System</a>
                            </h2>
                        </div>
                    </div>
                    <div class="equipment-item">
                        <div class="equipment_img">
                            <a href="">
                                <img src="../images/equipment/iOptron-SkyTracker-camera-mount.jpg" alt="">
                            </a>
                        </div>
                        <div class="equipment_title">
                            <h2>
                                <a href="">iOptron SkyTracker camera mount</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="featured">
                    <h3>FEATURED REVIEW</h3>
                    <div>
                        <h2>
                            <a href="">Astronomy reviews Unistellar's eVscope</a>
                        </h2>
                    </div>
                    <div>
                        <p>Unistellar’s new technology will let you see galaxies and nebulae from your backyard.</p>
                    </div>
                    <div>
                        <img src="../images/equipment/ASYER0321_01d.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End CSS EQUIPMENT -->
    </div>
</div>

<!--<div class="constellation_list">-->
<!--<div class="constellation_item">-->
<!--    <img src="assets/images/aquarius.jpg" alt="Aquarius">-->
<!--    <h3>Aquarius</h3>-->
<!--</div>-->
<!--<div class="constellation_item">-->
<!--    <img src="assets/images/aquila.jpg" alt="Aquila">-->
<!--    <h3>Aquila, the Eagle</h3>-->
<!--</div>-->
<!--<div class="constellation_item">-->
<!--    <img src="assets/images/aries.jpg" alt="Aries">-->
<!--    <h3>Aries, the Ram</h3>-->
<!--</div>-->
<!--<div class="constellation_item">-->
<!--    <img src="assets/images/auriga.jpg" alt="Auriga">-->
<!--    <h3>Auriga, the Charioteer</h3>-->
<!--</div>-->
<!--<div class="constellation_item">-->
<!--    <img src="assets/images/bootes_0.jpg" alt="Bootes">-->
<!--    <h3>Boötes, the Herdsman</h3>-->
<!--</div>-->
<!--<div class="constellation_item">-->
<!--    <img src="assets/images/cancer.jpg" alt="Cancer">-->
<!--    <h3>Cancer, the Crab</h3>-->
<!--</div>-->
<!--<div class="constellation_item">-->
<!--    <img src="assets/images/canis_major.jpg" alt="Canis Major">-->
<!--    <h3>Canis Major, the Great Dog</h3>-->
<!--</div>-->
<!--<div class="constellation_item">-->
<!--    <img src="assets/images/capricornus.jpg" alt="Capricornus">-->
<!--    <h3>Capricornus, the Sea-Goat</h3>-->
<!--</div>-->
<!--<div class="constellation_item">-->
<!--    <img src="assets/images/cassiopeia.jpg" alt="Cassiopeia">-->
<!--    <h3>Cassiopeia, the Queen</h3>-->
<!--</div>-->
<!--</div>-->
