<div class="navbar">
    <div class="grid">
        <ul class="nav-layout">
            <li><a href="/">Home</a></li>
            <li><a href="/News" >News</a></li>
            <li><a href="/Observing" >Observatory</a></li>
            <li><a href="/SolarSystem" >Solar System</a></li>
            <li><a href="/Constellation" >Constellation Guide</a></li>
            <li><a href="#">Photos</a></li>
        </ul>
        <div class="search-btn">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
    </div>
</div>