<div class="solar">
    <div class="grid">
        <h1>News</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="#" class="category-item__link">Stars</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="#" class="category-item__link">Space Flight</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Exoplanets</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Black Holes</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Cosmology</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="grid__column-10">
                <div class="solar-layout">
                    <h1>Stars</h1>
                    <p>Your online destination for news articles on planets, cosmology, NASA, space missions, and more.
                        You’ll also find information on how to observe upcoming visible sky events such as meteor
                        showers, solar and lunar eclipses, key planetary appearances, comets, and asteroids.</p>
                    <div class="grid__row">
                        <div class="grid__column-3_10">
                            <div class="solar-item">
                                <div class="news-item__img">
                                    <img src="../images/news/stars01.png" alt="">
                                    <div class="solar-item__info">
                                        <h1><a href="/News/Stars-01">Astronomers traced this FRB back to a strange place</a></h1>
                                        <p>Thursday, March 3, 2022  | by Alison Klesman</p>
                                        <h4 class="solar-item__name">Since 2007, astronomers have been working to unravel
                                            the mystery of brief, intense flashes of radio waves called fast radio
                                            bursts, or FRBs. In the ensuing decade and a half, they have surmised that
                                            these signals likely arise from a type of extremely...</h4>
                                        <p>MORE ABOUT: STARS, ASTROPHYSICS</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__column-3_10">
                            <a href="#" class="solar-item">
                                <div class="news-item__img">
                                    <img src="../images/news/new-1.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h1>Snapshot: NASA's newest X-ray telescope snaps its first science image</h1>
                                        <h4 class="solar-item__name">Two weeks before the highly anticipated launch of
                                            the James Webb Space Telescope on Christmas day last year, NASA put a different
                                            telescope into space. The Earth-orbiting Imaging X-ray Polarimetry Explorer,
                                            or IXPE, is designed to study the opposite end of the electromagnetic spectrum
                                            from Webb, focusing on high-energy light from extreme objects such as supernovae,
                                            pulsars, and black holes</h4>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-3_10">
                            <a href="#" class="solar-item">
                                <div class="news-item__img">
                                    <img src="../images/news/new-1.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h1>Snapshot: NASA's newest X-ray telescope snaps its first science image</h1>
                                        <h4 class="solar-item__name">Two weeks before the highly anticipated launch of
                                            the James Webb Space Telescope on Christmas day last year, NASA put a different
                                            telescope into space. The Earth-orbiting Imaging X-ray Polarimetry Explorer,
                                            or IXPE, is designed to study the opposite end of the electromagnetic spectrum
                                            from Webb, focusing on high-energy light from extreme objects such as supernovae,
                                            pulsars, and black holes</h4>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="solar-layout">
                    <h1>Space Flight</h1>
                    <p>Your online destination for news articles on planets, cosmology, NASA, space missions, and more.
                        You’ll also find information on how to observe upcoming visible sky events such as meteor
                        showers, solar and lunar eclipses, key planetary appearances, comets, and asteroids.</p>
                    <div class="grid__row">
                        <div class="grid__column-3_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img"
                                     style=" background-image:
                                     url(/public/images/news/new-1.jpg)">
                                    <div class="solar-item__info">
                                        <h1>Snapshot: NASA's newest X-ray telescope snaps its first science image</h1>
                                        <h4 class="solar-item__name">Two weeks before the highly anticipated launch of
                                            the James Webb Space Telescope on Christmas day last year, NASA put a different
                                            telescope into space. The Earth-orbiting Imaging X-ray Polarimetry Explorer,
                                            or IXPE, is designed to study the opposite end of the electromagnetic spectrum
                                            from Webb, focusing on high-energy light from extreme objects such as supernovae,
                                            pulsars, and black holes</h4>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-3_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img"
                                     style=" background-image:
                                     url(/public/images/news/new-1.jpg)">
                                    <div class="solar-item__info">
                                        <h1>Snapshot: NASA's newest X-ray telescope snaps its first science image</h1>
                                        <h4 class="solar-item__name">Two weeks before the highly anticipated launch of
                                            the James Webb Space Telescope on Christmas day last year, NASA put a different
                                            telescope into space. The Earth-orbiting Imaging X-ray Polarimetry Explorer,
                                            or IXPE, is designed to study the opposite end of the electromagnetic spectrum
                                            from Webb, focusing on high-energy light from extreme objects such as supernovae,
                                            pulsars, and black holes</h4>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-3_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img"
                                     style=" background-image:
                                     url(/public/images/news/new-1.jpg)">
                                    <div class="solar-item__info">
                                        <h1>Snapshot: NASA's newest X-ray telescope snaps its first science image</h1>
                                        <h4 class="solar-item__name">Two weeks before the highly anticipated launch of
                                            the James Webb Space Telescope on Christmas day last year, NASA put a different
                                            telescope into space. The Earth-orbiting Imaging X-ray Polarimetry Explorer,
                                            or IXPE, is designed to study the opposite end of the electromagnetic spectrum
                                            from Webb, focusing on high-energy light from extreme objects such as supernovae,
                                            pulsars, and black holes</h4>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="solar-layout">
                    <h1>Exoplanets</h1>
                    <p>Your online destination for news articles on planets, cosmology, NASA, space missions, and more.
                        You’ll also find information on how to observe upcoming visible sky events such as meteor
                        showers, solar and lunar eclipses, key planetary appearances, comets, and asteroids.</p>
                    <div class="grid__row">
                        <div class="grid__column-3_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img"
                                     style=" background-image:
                                     url('public/images/news/new-1.jpg')">
                                    <div class="solar-item__info">
                                        <h1>Snapshot: NASA's newest X-ray telescope snaps its first science image</h1>
                                        <h4 class="solar-item__name">Two weeks before the highly anticipated launch of
                                            the James Webb Space Telescope on Christmas day last year, NASA put a different
                                            telescope into space. The Earth-orbiting Imaging X-ray Polarimetry Explorer,
                                            or IXPE, is designed to study the opposite end of the electromagnetic spectrum
                                            from Webb, focusing on high-energy light from extreme objects such as supernovae,
                                            pulsars, and black holes</h4>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-3_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img"
                                     style=" background-image:
                                     url('public/images/news/new-1.jpg')">
                                    <div class="solar-item__info">
                                        <h1>Snapshot: NASA's newest X-ray telescope snaps its first science image</h1>
                                        <h4 class="solar-item__name">Two weeks before the highly anticipated launch of
                                            the James Webb Space Telescope on Christmas day last year, NASA put a different
                                            telescope into space. The Earth-orbiting Imaging X-ray Polarimetry Explorer,
                                            or IXPE, is designed to study the opposite end of the electromagnetic spectrum
                                            from Webb, focusing on high-energy light from extreme objects such as supernovae,
                                            pulsars, and black holes</h4>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-3_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img"
                                     style=" background-image:
                                     url('public/images/news/new-1.jpg')">
                                    <div class="solar-item__info">
                                        <h1>Snapshot: NASA's newest X-ray telescope snaps its first science image</h1>
                                        <h4 class="solar-item__name">Two weeks before the highly anticipated launch of
                                            the James Webb Space Telescope on Christmas day last year, NASA put a different
                                            telescope into space. The Earth-orbiting Imaging X-ray Polarimetry Explorer,
                                            or IXPE, is designed to study the opposite end of the electromagnetic spectrum
                                            from Webb, focusing on high-energy light from extreme objects such as supernovae,
                                            pulsars, and black holes</h4>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>