<div class="solar">
    <div class="grid">
        <h1>Observing</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="#" class="category-item__link">Sky Events</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="#" class="category-item__link">Observe the Solar System</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Astronomy for Kids</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Product Reviews</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Star Atlas</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Observing Tools</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="grid__column-10">
                <div class="solar-layout">
                    <h1>Sky Events</h1>
                    <div class="grid__row">
                        <div class="grid__column-3_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img"
                                     style=" background-image:
                                     url(/assets/images/conste/aquarius.jpg)">
                                    <img src="../images/observing/StarPartyHeader.png" alt="">
                                    <div class="solar-item__info">
                                        <h1>Join Astronomy in Tucson for our annual star party!</h1>
                                        <p>Tuesday, January 25, 2022  | by David J. Eicher</p>
                                        <h4 class="solar-item__name">On Saturday, February 12, 2022, Astronomy magazine
                                            will sponsor the 10th annual skywatching party at the East Campus
                                            Observatory of Pima Community College (PCC) in Tucson, Arizona. The address
                                            there is 8181 East Irvington Road. Activities begin at 6:...</h4>
                                        <p>MORE ABOUT: OBSERVING</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-3_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img">
                                    <img src="../images/observing/StarPartyHeader.png" alt="">
                                    <div class="solar-item__info">
                                        <h1>Join Astronomy in Tucson for our annual star party!</h1>
                                        <p>Tuesday, January 25, 2022  | by David J. Eicher</p>
                                        <h4 class="solar-item__name">On Saturday, February 12, 2022, Astronomy magazine
                                            will sponsor the 10th annual skywatching party at the East Campus
                                            Observatory of Pima Community College (PCC) in Tucson, Arizona. The address
                                            there is 8181 East Irvington Road. Activities begin at 6:...</h4>
                                        <p>MORE ABOUT: OBSERVING</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column-3_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img">
                                    <img src="../images/observing/StarPartyHeader.png" alt="">
                                    <div class="solar-item__info">
                                        <h1>Join Astronomy in Tucson for our annual star party!</h1>
                                        <p>Tuesday, January 25, 2022  | by David J. Eicher</p>
                                        <h4 class="solar-item__name">On Saturday, February 12, 2022, Astronomy magazine
                                            will sponsor the 10th annual skywatching party at the East Campus
                                            Observatory of Pima Community College (PCC) in Tucson, Arizona. The address
                                            there is 8181 East Irvington Road. Activities begin at 6:...</h4>
                                        <p>MORE ABOUT: OBSERVING</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="solar-layout">
                    <h1>Observe the Solar System</h1>
                    <div class="grid__row">
                        <div class="grid__column-3_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img">
                                    <img src="../images/observing/Pluto071315_color.png" alt="">
                                    <div class="solar-item__info">
                                        <h1>Tour the solar system: Pluto and the Kuiper Belt</h1>
                                        <p>Monday, August 10, 2015  | by Richard Talcott</p>
                                        <h4 class="solar-item__name">Get the details on this oddball planet that the
                                            New Horizons spacecraft is revealing like never before, and learn about the
                                            various other worlds beyond Neptune that later influenced Pluto's planetary
                                            status...</h4>
                                        <p>MORE ABOUT: PLUTO, KUIPER BELT</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="solar-layout">
                    <h1>Astronomy for Kids</h1>
                    <div class="grid__row">
                        <div class="grid__column-3_10">
                            <a href="#" class="solar-item">
                                <div class="solar-item__img">
                                    <img src="../images/observing/shutterstock_1956178477.jpg" alt="">
                                    <div class="solar-item__info">
                                        <h1>Astro for Kids: Why are planets round?</h1>
                                        <p>Thursday, September 9, 2021  | by James Webb, The Conversation</p>
                                        <h4 class="solar-item__name">Gravity, mass and centrifugal force all contribute
                                            to the final shape of a planet.</h4>
                                        <p>MORE ABOUT: PLANETS</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>