<div class="body">
    <div class="solar">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column-2">
                    <nav class="category">
                        <h3 class="category__heading">
                            Category
                        </h3>

                        <ul class="category-list">
                            <li class="category-item category-item-active">
                                <a href="/SolarSystem/solarsystemintroduction" class="category-item__link">Introduction</a>
                            </li>
                            <li class="category-item category-item-active">
                                <a href="/SolarSystem/sun" class="category-item__link">Sun</a>
                            </li>
                            <li class="category-item category-item-active">
                                <a href="/SolarSystem/mercury" class="category-item__link">Mercury</a>
                            </li>
                            <li class="category-item">
                                <a href="/SolarSystem/venus" class="category-item__link">Venus</a>
                            </li>
                            <li class="category-item">
                                <a href="/SolarSystem/earth" class="category-item__link">Earth</a>
                            </li>
                            <li class="category-item">
                                <a href="/SolarSystem/mars" class="category-item__link">Mars</a>
                            </li>
                            <li class="category-item">
                                <a href="/SolarSystem/jupiter" class="category-item__link">Jupiter</a>
                            </li>
                            <li class="category-item">
                                <a href="/SolarSystem/saturn" class="category-item__link">Saturn</a>
                            </li>
                            <li class="category-item">
                                <a href="/SolarSystem/uranus" class="category-item__link">Uranus</a>
                            </li>
                            <li class="category-item">
                                <a href="/SolarSystem/neptune" class="category-item__link">Neptune</a>
                            </li>
                            <li class="category-item">
                                <a href="/SolarSystem/pluto" class="category-item__link">Pluto</a>
                            </li>
                            <li class="category-item">
                                <a href="/SolarSystem/asteroids" class="category-item__link">Asteroids</a>
                            </li>
                            <li class="category-item">
                                <a href="/SolarSystem/comets" class="category-item__link">Comets</a>
                            </li>
                            <li class="category-item">
                                <a href="/SolarSystem/meteoroids" class="category-item__link">Meteoroids and Meteorites</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="grid__column-10">
                    <div class="solar-layout">
                        <div class="grid__row">
                            <div class="grid__column-3_10">
                                <a href="/SolarSystem/Solarsystemintroduction" class="solar-item">
                                    <div class="solar-item__img">
                                        <img src="../images/solar/Solar-system.jpg" alt="Solar System Introduction" width="300" height="310">
                                        <div class="solar-item__info">
                                            <h4 class="solar-item__name">Our solar system consists of an average star we call
                                                the Sun, the planets Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus,
                                                Neptune, and Pluto. It includes: the satellites of the planets; numerous comets,
                                                asteroids, and meteoroids; and the interplanetary medium.</h4>
                                            <h1>Solar System Introduction</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__column-3_10">
                                <a href="/SolarSystem/sun" class="solar-item">
                                    <div class="solar-item__img">
                                        <img src="../images/solar/sun.jpg" alt="Sun" width="300" height="310">
                                        <div class="solar-item__info">
                                            <h4 class="solar-item__name">The Sun is the most prominent feature in our solar
                                                system. It is the largest object and contains approximately 98% of the total
                                                solar system mass. One hundred and nine Earths would be required to fit
                                                across the Sun's disk, and its interior could hold over 1.3 million Earths.
                                                The Sun's outer visible layer is called the photosphere and has a
                                                temperature of 6,000°C (11,000°F).</h4>
                                            <h1>Sun Introduction</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__column-3_10">
                                <a href="/SolarSystem/mercury" class="solar-item">
                                    <div class="solar-item__img">
                                        <img src="../images/solar/mercury.jpg" alt="mercury" width="300" height="310">
                                        <div class="solar-item__info">
                                            <h4 class="solar-item__name">Mercury was named by the Romans after the
                                                fleet-footed messenger of the gods because it seemed to move more quickly
                                                than any other planet. It is the closest planet to the Sun, and second
                                                smallest planet in the solar system. Its diameter is 40% smaller than
                                                Earth and 40% larger than the Moon. It is even smaller than Jupiter's moon
                                                Ganymede and Saturn's moon Titan.</h4>
                                            <h1>Mercury Introduction</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__column-3_10">
                                <a href="/SolarSystem/venus" class="solar-item">
                                    <div class="solar-item__img">
                                        <img src="../images/solar/venus2.jpg" alt="Venus" width="300" height="310">
                                        <div class="solar-item__info">
                                            <h4 class="solar-item__name">Venus, the jewel of the sky, was once know by
                                                ancient astronomers as the morning star and evening star. Early astronomers
                                                once thought Venus to be two separate bodies. Venus, which is named after
                                                the Roman goddess of love and beauty, is veiled by thick swirling cloud
                                                cover.</h4>
                                            <h1>Venus Introduction</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__column-3_10">
                                <a href="/SolarSystem/earth" class="solar-item">
                                    <div class="solar-item__img">
                                        <img src="../images/solar/Earth.jpg" alt="Earth" width="300" height="310">
                                        <div class="solar-item__info">
                                            <h4 class="solar-item__name">Earth, our planet appears to be big and sturdy
                                                with an endless ocean of air. From space, astronauts often get the
                                                impression that the Earth is small with a thin, fragile layer of atmosphere.
                                                For a space traveler, the distinguishing Earth features are the blue waters,
                                                brown and green land masses and white clouds set against a black background.</h4>
                                            <h1>Earth Introduction</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__column-3_10">
                                <a href="/SolarSystem/mars" class="solar-item">
                                    <div class="solar-item__img">
                                        <img src="../images/solar/marssystem.jpg" alt="" width="300" height="310">
                                        <div class="solar-item__info">
                                            <h4 class="solar-item__name">Mars is the fourth planet from the Sun and is
                                                commonly referred to as the Red Planet. The rocks, soil and sky have a red
                                                or pink hue. The distinct red color was observed by stargazers throughout
                                                history. It was given its name by the Romans in honor of their god of war.
                                                Other civilizations have had similar names. The ancient Egyptians named the
                                                planet Her Descher meaning the red one.</h4>
                                            <h1>Mars Introduction</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__column-3_10">
                                <a href="/SolarSystem/jupiter" class="solar-item">
                                    <div class="solar-item__img">
                                        <img src="../images/solar/Jupiter.jpeg" alt="" width="300" height="310">
                                        <div class="solar-item__info">
                                            <h4 class="solar-item__name">Jupiter is the fifth planet from the Sun and is
                                                the largest planet in the solar system. If Jupiter were hollow, more than
                                                one thousand Earths could fit inside. It also contains two and a half times
                                                the mass of all the other planets combined. It has a mass of 1.9 x 1027 kg
                                                and is 142,800 kilometers (88,736 miles) across the equator.</h4>
                                            <h1>Jupiter Introduction</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__column-3_10">
                                <a href="/SolarSystem/saturn" class="solar-item">
                                    <div class="solar-item__img">
                                        <img src="../images/solar/saturn.jpg" alt="" width="300" height="310">
                                        <div class="solar-item__info">
                                            <h4 class="solar-item__name">Saturn is the sixth planet from the Sun and is the
                                                second largest in the solar system with an equatorial diameter of 119,300
                                                kilometers (74,130 miles). Much of what is known about the planet is due to
                                                the Voyager explorations in 1980-81. Saturn is visibly flattened at the
                                                poles, a result of the very fast rotation of the planet on its axis. Its
                                                day is 10 hours, 39 minutes long, and it takes 29.5 Earth years to revolve
                                                about the Sun.</h4>
                                            <h1>Saturn Introduction</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__column-3_10">
                                <a href="/SolarSystem/uranus" class="solar-item">
                                    <div class="solar-item__img">
                                        <img src="../images/solar/uranus.jpg" alt="" width="300" height="310">
                                        <div class="solar-item__info">
                                            <h4 class="solar-item__name">Jupiter is the fifth planet from the Sun and is
                                                the largest planet in the solar system. If Jupiter were hollow, more than
                                                one thousand Earths could fit inside. It also contains two and a half times
                                                the mass of all the other planets combined. It has a mass of 1.9 x 1027 kg
                                                and is 142,800 kilometers (88,736 miles) across the equator.</h4>
                                            <h1>Uranus Introduction</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__column-3_10">
                                <a href="/SolarSystem/neptune" class="solar-item">
                                    <div class="solar-item__img">
                                        <img src="../images/solar/Neptune.jpg" alt="" width="300" height="310">
                                        <div class="solar-item__info">
                                            <h4 class="solar-item__name">Neptune is the outermost planet of the gas giants.
                                                It has an equatorial diameter of 49,500 kilometers (30,760 miles). If
                                                Neptune were hollow, it could contain nearly 60 Earths. Neptune orbits the
                                                Sun every 165 years. It has eight moons, six of which were found by Voyager.
                                                A day on Neptune is 16 hours and 6.7 minutes.</h4>
                                            <h1>Neptune Introduction</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__column-3_10">
                                <a href="/SolarSystem/pluto" class="solar-item">
                                    <div class="solar-item__img">
                                        <img src="../images/solar/Pluto.jpg" alt="" width="300" height="310">
                                        <div class="solar-item__info">
                                            <h4 class="solar-item__name">Pluto is the second largest known dwarf planet and
                                                tenth largest orbiting the Sun. From its time of discovery in 1930 to 2006
                                                it was considered to be the ninth planet in the solar system, but because
                                                additional objects have been discovered including Eris which is 27% more
                                                massive, the IAU reclassified Pluto and the other objects as dwarf
                                                planets. </h4>
                                            <h1>Pluto Introduction</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__column-3_10">
                                <a href="/SolarSystem/asteroids" class="solar-item">
                                    <div class="solar-item__img">
                                        <img src="../images/solar/asteroids.jpg" alt="Asteroid" width="300" height="310">
                                        <div class="solar-item__info">
                                            <h4 class="solar-item__name">Asteroids are rocky and metallic
                                                objects that orbit the Sun but are too small to be
                                                considered planets.  They are known as <i>minor planets</i>.
                                                Asteroids range in size from Ceres, which has a diameter of about
                                                1000 km, down to the size of pebbles. Sixteen asteroids have a
                                                diameter of 240 km or greater. </h4>
                                            <h1>Asteroid Introduction</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__column-3_10">
                                <a href="/SolarSystem/comets" class="solar-item">
                                    <div class="solar-item__img">
                                        <img src="../images/solar/comets1.gif" alt="Comet" width="300" height="310">
                                        <div class="solar-item__info">
                                            <h4 class="solar-item__name">Comets are small, fragile, irregularly shaped bodies
                                                composed of a mixture of non-volatile grains and frozen gases.
                                                They have highly elliptical orbits that bring them very close
                                                to the Sun and swing them deeply into space, often beyond the
                                                orbit of Pluto. </h4>
                                            <h1>Comet Introduction</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__column-3_10">
                                <a href="/SolarSystem/meteoroids" class="solar-item">
                                    <div class="solar-item__img">
                                        <img src="../images/solar/meteoroids.jpg" alt="Meteoroids and Meteorites" width="300" height="310">
                                        <div class="solar-item__info">
                                            <h4 class="solar-item__name">The term meteor comes from the Greek
                                                <i>meteoron</i>, meaning phenomenon in the
                                                sky. It is used to describe the streak of light produced as matter in
                                                the solar system falls into Earth's atmosphere creating temporary
                                                incandescence resulting from atmospheric friction.  This typically
                                                occurs at heights of 80 to 110 kilometers (50 to 68 miles)
                                                above Earth's surface. </h4>
                                            <h1>Meteoroids and Meteorites</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <ul class="pagination home-product__pagination">
                        <li class="pagination-item pagination-item-active">
                            <a href="" class="pagination-item__link">
                                <i class="pagination-item__icon fas fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="pagination-item pagination-item-active">
                            <a href="" class="pagination-item__link">1</a>
                        </li>
                        <li class="pagination-item pagination-item-active">
                            <a href="" class="pagination-item__link">2</a>
                        </li>
                        <li class="pagination-item pagination-item-active">
                            <a href="" class="pagination-item__link">3</a>
                        </li>
                        <li class="pagination-item pagination-item-active">
                            <a href="" class="pagination-item__link">4</a>
                        </li>
                        <li class="pagination-item pagination-item-active">
                            <a href="" class="pagination-item__link">5</a>
                        </li>

                        <li class="pagination-item pagination-item-active">
                            <a href="" class="pagination-item__link">
                                <i class="pagination-item__icon fas fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>