.bodysection{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.box {
    color: #ffffc0;
    text-align: center;
    background: #213452;
    padding: 4px 10px 4px 10px;
    border-style: double;
    border-width: 6px;
    border-color: white;
    font-family: arial,helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
}
.left {
    margin-right: 6px;
    float: left;
}
.stath1, .dath1 {
    background: #244669;
    color: #FFF;
}

.statr1 {
    background: #EEF5FF;
    color: #000;
}
.statr2 {
    background: #DDE5FF;
    color: #000;
}
.statr1 th {
    border: 2px solid white;
    padding: 1px 10px 1px 10px;
    text-align: left;
}
.statr2 th {
    border: 2px solid white;
    padding: 1px 10px 1px 10px;
    text-align: left;
}
.statr1 td {
    border: 2px solid white;
    padding: 1px 10px 1px 10px;
    text-align: right;
}
.statr2 td {
    border: 2px solid white;
    padding: 1px 10px 1px 10px;
    text-align: right;
}

.stat {
    font-size: medium;
    border-collapse: collapse;
}
.table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}
