<div class="solar">
    <div class="grid">
        <h1>Constellation Guide</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="#" class="category-item__link">Aquarius</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="#" class="category-item__link">Aquila</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Aries</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Auriga</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Boötes</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Cancer</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Canis</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Capricornus</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Cassiopeia</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Cygnus</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="grid__column-10">
                <h1>Aquarius</h1>
                <p>Thanks to its position in the zodiac, not to mention a hit Broadway song, Aquarius the water bearer is one of the most famous constellations. But few people actually see it because it's so faint. It is home to the summer Delta Aquarid meteor shower, which, like the constellation itself, is fairly thin and sparse.</p>

            </div>
        </div>
    </div>
</div>
