<div class="solar">
    <div class="grid">
        <h1>The Solar System</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/solarsystemintroduction" class="category-item__link">Introduction</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/sun" class="category-item__link">Sun</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/mercury" class="category-item__link">Mercury</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/venus" class="category-item__link">Venus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/earth" class="category-item__link">Earth</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/mars" class="category-item__link">Mars</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/jupiter" class="category-item__link">Jupiter</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/saturn" class="category-item__link">Saturn</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/uranus" class="category-item__link">Uranus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/neptune" class="category-item__link">Neptune</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/pluto" class="category-item__link">Pluto</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/asteroids" class="category-item__link">Asteroids</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/comets" class="category-item__link">Comets</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/meteoroids" class="category-item__link">Meteoroids and Meteorites</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="grid__column-10">
    <table border="0" width="100%">
        <tbody><tr><td align="LEFT" width="1%">
            <img src="../images/solar/asteroids.jpg" border="0"  alt="Asteroids" align="LEFT">
        </td>
            <td align="CENTER">
                <font size="+3"><b>Asteroid Introduction</b></font><p>
                <i>The future cannot be predicted, but futures can be invented. - Dennis Gabor
                </i>
            </p></td>
        </tr>
        </tbody></table>

    <div class="box"></div>

    Asteroids are rocky and metallic
    objects that orbit the Sun but are too small to be
    considered planets.  They are known as <i>minor planets</i>.
    Asteroids range in size from Ceres, which has a diameter of about
    1000 km, down to the size of pebbles. Sixteen asteroids have a
    diameter of 240 km or greater.
    They have been found inside Earth's orbit to beyond Saturn's orbit. Most,
    however, are contained within a <i>main
    belt</i> that exists between the orbits of Mars and Jupiter.
    Some have orbits that cross Earth's path and some have even hit the Earth
    in times past. One of the best
    preserved examples is Barringer Meteor Crater near Winslow,
    Arizona.
    <p>
    </p><table border="2" align="RIGHT"><tbody><tr><th><img src="../images/solar/asteroids2.gif" alt="Asteroid Belt"></th></tr></tbody></table>

    <p>
        Asteroids are material left over from the formation of the
        solar system. One theory suggests that they are the remains of a
        planet that was destroyed in a massive collision long ago. More
        likely, asteroids are material that never coalesced into a planet.
        In fact, if the estimated total mass of all asteroids was gathered
        into a single object, the object would be less than 1,500
        kilometers (932 miles) across -- less than half the diameter of our
        Moon.

    </p><p>Much of our understanding about asteroids comes from
    examining pieces of space debris that fall to the surface of
    Earth. Asteroids that are on a collision course with Earth are
    called meteoroids.
    When a meteoroid strikes our atmosphere at high
    velocity, friction causes this chunk of space matter to incinerate
    in a streak of light known as a meteor. If the meteoroid does not
    burn up completely, what's left strikes Earth's surface and is
    called a meteorite.

</p><p>Of all the meteorites examined, 92.8 percent are composed of
    silicate (stone), and 5.7 percent are composed of iron and nickel;
    the rest are a mixture of the three materials. Stony meteorites
    are the hardest to identify since they look very much like
    terrestrial rocks.

</p><p>Because asteroids are material from the very early solar
    system, scientists are interested in their composition. Spacecraft
    that have flown through the asteroid belt have found that the belt
    is really quite empty and that asteroids are separated by very
    large distances.
    Before 1991
    the only information obtained on asteroids was though Earth
    based observations.  Then on October 1991 asteroid
    <b>951 Gaspra</b> was visited by the
    <b>Galileo</b> spacecraft and became the
    first asteroid to have hi-resolution images taken of it.
    Again on August 1993 Galileo made a close encounter with
    asteroid <b>243 Ida</b>.  This was the second
    asteroid to be visited by spacecraft.
    Both Gaspra and Ida are classified
    as S-type asteroids composed of metal-rich silicates.
</p>
    On June 27, 1997 the spacecraft <b >NEAR</b>
    made a high-speed close encounter with asteroid
    <b >253 Mathilde</b>. This encounter gave
    scientists the first close-up look of a carbon rich C-type asteroid.
    This visit was unique because NEAR was not designed
    for flyby encounters. NEAR is an orbiter destined for asteroid
    Eros in January of 1999.

</p><p>
    Astronomers have studied a number of asteroids through Earth-based
    observations. Several notable asteroids are
    <b >Toutatis</b>,
    <b >Castalia</b>,
    <b >Geographos</b> and
    <b >Vesta</b>.
    Astronomers studied Toutatis, Geographos and Castalia using
    Earth-based radar observations during close approaches to the Earth.
    Vesta was observed by the Hubble Space Telescope.

</p>
    </br>
    <p></p><div class="box">Asteroid Summary</div><p>
</p><p>

</p><table border="2" width="100%">
    <tbody><tr><th>Num</th><th>Name</th><th>Radius<br>(km)</th><th>Distance*<br>(10^6km)</th><th>Albedo</th><th>Discoverer</th><th>Date</th></tr>
    <tr align="CENTER"><td align="RIGHT">  1&nbsp;</td><td align="LEFT">&nbsp;Ceres</td><td>466</td><td>413.9   </td><td>0.10  </td><td>G. Piazzi    </td><td>1801</td></tr>
    <tr align="CENTER"><td align="RIGHT">511&nbsp;</td><td align="LEFT">&nbsp;Davida</td><td>168</td><td>475.4   </td><td>0.05  </td><td>R. Dugan     </td><td>1903</td></tr>
    <tr align="CENTER"><td align="RIGHT">433&nbsp;</td><td align="LEFT">&nbsp;Eros</td><td>17.5 x 6.5</td><td>218   </td><td>?  </td><td>G. Witt, A. Charlois</td><td>1893</td></tr>
    <tr align="CENTER"><td align="RIGHT"> 15&nbsp;</td><td align="LEFT">&nbsp;Eunomia</td><td>136</td><td>395.5   </td><td>0.19  </td><td>De Gasparis  </td><td>1851</td></tr>
    <tr align="CENTER"><td align="RIGHT"> 52&nbsp;</td><td align="LEFT">&nbsp;Europa</td><td>156</td><td>463.3   </td><td>0.06  </td><td>Goldschmidt  </td><td>1858</td></tr>
    <tr align="CENTER"><td align="RIGHT">951&nbsp;</td><td align="LEFT">&nbsp;Gaspra</td><td>17x10 </td><td>330.0   </td><td>0.20  </td><td>Neujmin      </td><td>1916</td></tr>
    <tr align="CENTER"><td align="RIGHT"> 10&nbsp;</td><td align="LEFT">&nbsp;Hygiea</td><td>215</td><td>470.3   </td><td>0.08  </td><td>De Gasparis  </td><td>1849</td></tr>
    <tr align="CENTER"><td align="RIGHT">243&nbsp;</td><td align="LEFT">&nbsp;Ida</td><td>58x23 </td><td>428   </td><td>?     </td><td>J. Palisa    </td><td>29 Sep 1884</td></tr>
    <tr align="CENTER"><td align="RIGHT">704&nbsp;</td><td align="LEFT">&nbsp;Interamnia</td><td>167   </td><td>458.1   </td><td>0.06  </td><td>V. Cerulli   </td><td>1910</td></tr>
    <tr align="CENTER"><td align="RIGHT">253&nbsp;</td><td align="LEFT">&nbsp;Mathilde</td><td>28.5 x 25   </td><td>396   </td><td>0.03  </td><td>J. Palisa   </td><td>1885</td></tr>
    <tr align="CENTER"><td align="RIGHT">  2&nbsp;</td><td align="LEFT">&nbsp;Pallas</td><td>261</td><td>414.5   </td><td>0.14  </td><td>H. Olbers    </td><td>1802</td></tr>
    <tr align="CENTER"><td align="RIGHT"> 16&nbsp;</td><td align="LEFT">&nbsp;Psyche</td><td>132</td><td>437.1   </td><td>0.10  </td><td>De Gasparis  </td><td>1852</td></tr>
    <tr align="CENTER"><td align="RIGHT"> 87&nbsp;</td><td align="LEFT">&nbsp;Sylvia</td><td>136</td><td>521.5   </td><td>0.04  </td><td>N. Pogson    </td><td>1866</td></tr>
    <tr align="CENTER"><td align="RIGHT">  4&nbsp;</td><td align="LEFT">&nbsp;Vesta</td><td>262.5</td><td>353.4   </td><td>0.38  </td><td>H. Olbers    </td><td>1807</td></tr>
    </tbody></table>

    <p>* Mean distance from the Sun.


    </p><div class="box">Asteroids Movie</div><p>
    <center>
    <iframe width="100%" height="720" src="https://www.youtube.com/embed/etHpuO6o_A0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

    <p></p><div class="box"> </div><p>
    <center>
        <a href="/SolarSystem/pluto"><img src="../images/solar/left-chevron.png" alt="" border="0" width="50" height="50">Pluto</a>
        <a href="/SolarSystem"><img src="../images/solar/home.gif" alt="" border="0"></a>
        <a href="/SolarSystem/comets">Comets<img src="../images/solar/right-chevron.png" alt="" border="0" width="50" height="50"></a>
    </center>
            </div>
        </div>
    </div>
</div>