<div class="solar">
    <div class="grid">
        <h1>The Solar System</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/solarsystemintroduction" class="category-item__link">Introduction</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/sun" class="category-item__link">Sun</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/mercury" class="category-item__link">Mercury</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/venus" class="category-item__link">Venus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/earth" class="category-item__link">Earth</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/mars" class="category-item__link">Mars</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/jupiter" class="category-item__link">Jupiter</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/saturn" class="category-item__link">Saturn</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/uranus" class="category-item__link">Uranus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/neptune" class="category-item__link">Neptune</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/pluto" class="category-item__link">Pluto</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/asteroids" class="category-item__link">Asteroids</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/comets" class="category-item__link">Comets</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/meteoroids" class="category-item__link">Meteoroids and Meteorites</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="grid__column-10">
    <table border="0" width="100%">
        <tbody><tr><td align="LEFT" width="1%">
            <img src="../images/solar/comets1.gif" border="0"  alt="Comets" align="LEFT">
        </td>
            <td align="CENTER">
                <font size="+3"><b>Comet Introduction</b></font><p>
            </p></td>
        </tr>
        </tbody></table>

    <div class="box"></div>

    Comets are small, fragile, irregularly shaped bodies
    composed of a mixture of non-volatile grains and frozen gases.
    They have highly elliptical orbits that bring them very close
    to the Sun and swing them deeply into space, often beyond the
    orbit of Pluto.
    <p>
        Comet structures are diverse and very dynamic, but they all develop a
        surrounding cloud of diffuse material, called a coma, that usually
        grows in size and brightness as the comet approaches the Sun.
        Usually a small, bright nucleus (less than 10 km in diameter) is
        visible in the middle of the coma. The coma and the nucleus
        together constitute the head of the comet.
    </p><p>
</p><table border="2" align="RIGHT"><tbody><tr><th><img src="../images/solar/comets2.gif" alt="Comet diagram"></th></tr></tbody></table>
    <p>
        As comets approach the Sun they develop enormous tails of
        luminous material that extend for millions of kilometers from
        the head, away from the Sun. When far from the Sun, the nucleus
        is very cold and its material is frozen solid within the nucleus.
        In this state comets are sometimes referred to as a "dirty iceberg"
        or "dirty snowball," since over half of their material is ice.
        When a comet approaches within a few AU
        of the Sun, the surface of the
        nucleus begins to warm, and volatiles evaporate. The evaporated
        molecules boil off and carry small solid particles with them,
        forming the comet's coma of gas and dust.
    </p><p>
    When the nucleus is frozen, it can be seen only by reflected
    sunlight. However, when a coma develops, dust reflects still
    more sunlight, and gas in the coma absorbs ultraviolet radiation
    and begins to fluoresce.  At about 5 AU from the Sun,
    fluorescence usually becomes more intense than reflected light.
</p>
    As the comet absorbs ultraviolet light, chemical processes release
    hydrogen, which escapes the comet's gravity, and forms a hydrogen
    envelope.  This envelope cannot be seen from Earth because its light
    is absorbed by our atmosphere, but it has been detected by spacecraft.
</p><p>
    The Sun's radiation pressure and solar wind accelerate materials
    away from the comet's head at differing velocities according to the
    size and mass of the materials. Thus, relatively massive dust tails
    are accelerated slowly and tend to be curved.  The ion tail is much
    less massive, and is accelerated so greatly that it appears as a
    nearly straight line extending away from the comet opposite the Sun.
    The following view of Comet West shows two distinct tails. The
    thin blue plasma tail is made up of gases and the broad white tail is made
    up of microscopic dust particles.
</p>
<br>
<br>
<br>
<center>
        <img src="../images/solar/comets1.gif" alt="Comet West" border="0"><br><b>Comet West</b>
</center>
    <p>
        Each time a comet visits the Sun, it loses some of its volatiles.
        Eventually, it becomes just another rocky mass in the solar system.
        For this reason, comets are said to be short-lived, on a cosmological
        time scale.  Many scientists believe that some
        asteroids are extinct
        comet nuclei, comets that have lost all of their volatiles.

    </p>

    </p><div class="box">Comets Movie</div><p>
    <center>
        <iframe width="100%" height="720" src="https://www.youtube.com/embed/GgVLAZPFmXI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

    <p></p><div class="box"> </div><p>
    <center>
        <a href="/SolarSystem/asteroids"><img src="../images/solar/left-chevron.png" alt="" border="0" width="50" height="50">Asteroids</a>
        <a href="/SolarSystem"><img src="../images/solar/home.gif" alt="" border="0"></a>
        <a href="/SolarSystem/meteoroids">Meteoroids<img src="../images/solar/right-chevron.png" alt="" border="0" width="50" height="50"></a>
    </center>
            </div>
        </div>
    </div>
</div>