<div class="solar">
    <div class="grid">
        <h1>The Solar System</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/solarsystemintroduction" class="category-item__link">Introduction</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/sun" class="category-item__link">Sun</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/mercury" class="category-item__link">Mercury</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/venus" class="category-item__link">Venus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/earth" class="category-item__link">Earth</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/mars" class="category-item__link">Mars</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/jupiter" class="category-item__link">Jupiter</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/saturn" class="category-item__link">Saturn</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/uranus" class="category-item__link">Uranus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/neptune" class="category-item__link">Neptune</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/pluto" class="category-item__link">Pluto</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/asteroids" class="category-item__link">Asteroids</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/comets" class="category-item__link">Comets</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/meteoroids" class="category-item__link">Meteoroids and Meteorites</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="grid__column-10">
    <table border="0" width="100%">
        <tbody><tr><td align="LEFT" width="1%">
            <img src="../images/solar/mars.jpg" border="0"  alt="Mars" align="LEFT">
        </td>
            <td align="CENTER">
                <font size="+3"><b>Mars Introduction</b></font><p>
                <i>Where there is no vision, the people perish.
                    - Proverbs 29:18
                </i>
            </p></td>
        </tr>
        </tbody></table>

    <div class="box"></div>

        Mars is the fourth planet from the Sun and is commonly referred to as
        the Red Planet. The rocks, soil and sky have a red or pink hue. The
        distinct red color was observed by stargazers throughout history. It
        was given its name by the Romans in honor of their god of war. Other
        civilizations have had similar names. The ancient Egyptians named
        the planet <i>Her Descher</i> meaning <i>the red one</i>.
        <p>
            Before space exploration, Mars was considered the best candidate for
            harboring extraterrestrial life. Astronomers thought they saw straight
            lines crisscrossing its surface. This led to the popular belief that
            irrigation canals on the planet had been constructed by intelligent
            beings. In 1938, when Orson Welles broadcasted a radio drama based on
            the science fiction classic <i>War of the Worlds</i> by H.G. Wells,
            enough people believed in the tale of invading Martians to cause a near
            panic.
        </p>
        Another reason for scientists to expect life on Mars had to do with the
        apparent seasonal color changes on the planet's surface. This phenomenon
        led to speculation that conditions might support a bloom of Martian
        vegetation during the warmer months and cause plant life to become
        dormant during colder periods.
    </p><p>
        In July of 1965, <b >Mariner 4</b>, transmitted 22
        close-up pictures of Mars. All that was revealed was a surface containing
        many craters and naturally occurring channels but no evidence of
        artificial canals or flowing water. Finally, in July and September 1976,
        <b >Viking</b> Landers 1 and 2 touched down
        on the surface of Mars. The three biology experiments aboard the landers
        discovered unexpected and enigmatic chemical activity in the Martian
        soil, but provided no clear evidence for the presence of living
        microorganisms in the soil near the landing sites. According to mission
        biologists, Mars is self-sterilizing. They believe the combination of
        solar ultraviolet radiation that saturates the surface, the extreme dryness of the soil and the oxidizing
        nature of the soil chemistry prevent the formation of living organisms
        in the Martian soil. The question of life on Mars at some time in the
        distant past remains open.
    </p><p>
        Other instruments found no sign of organic chemistry at either landing
        site, but they did provide a precise and definitive analysis of
        the composition of the Martian atmosphere and found previously
        undetected trace elements.

    </p><h3>Atmosphere</h3>
        <p>
            The atmosphere of Mars is quite different from that of Earth.  It is
            composed primarily of carbon dioxide with small amounts of other gases.
            The six most common components of the atmosphere are:

        </p><ul>
        <li> Carbon Dioxide (CO2): 95.32%
        </li><li> Nitrogen (N2): 2.7%
    </li><li> Argon (Ar): 1.6%
    </li><li> Oxygen (O2): 0.13%
    </li><li> Water (H2O): 0.03%
    </li><li> Neon (Ne): 0.00025 %
    </li></ul>
        <p>
            Martian air contains only about 1/1,000 as much water
            as our air, but even this small amount can condense out, forming
            clouds that ride high in the atmosphere or swirl around the slopes
            of towering volcanoes. Local patches of early morning fog can form
            in valleys. At the Viking Lander 2 site, a thin layer of water
            frost covered the ground each winter.
        </p><p>
        There is evidence that in the past a denser martian
        atmosphere may have allowed water to flow on the planet. Physical
        features closely resembling shorelines, gorges, riverbeds and
        islands suggest that great rivers once marked the planet.

    </p><h3>Temperature and Pressure</h3>
        <p>The average recorded temperature on Mars is -63° C (-81° F)
            with a maximum
            temperature of  20° C (68° F) and a minimum of -140° C
            (-220° F).
        </p><p>
        Barometric pressure varies at each landing site on a
        semiannual basis. Carbon dioxide, the major constituent
        of the atmosphere, freezes out to form an immense polar cap,
        alternately at each pole. The carbon dioxide forms a great cover
        of snow and then evaporates again with the coming of spring in
        each hemisphere. When the southern cap was largest, the mean
        daily pressure observed by Viking Lander 1 was as low as 6.8
        millibars; at other times of the year it was as high as 9.0
        millibars.  The pressures at the Viking Lander 2 site were 7.3
        and 10.8 millibars.
        In comparison, the average pressure of the Earth is 1000 millibars.

    </p>
    </br>
    </br>
    <div class="box">Statistics</div>
    </br>
    <center>
        <table border="0" class="stat" cellpadding="2" cellspacing="0">
            <tbody><tr class="stath1"><th colspan="2">Mars Statistics</th></tr>
            <tr class="statr1"><th align="LEFT">Mass (kg)</th><td align="RIGHT">6.421e+23</td></tr>
            <tr class="statr2"><th align="LEFT">Mass (Earth = 1)</th><td align="RIGHT">1.0745e-01</td></tr>
            <tr class="statr1"><th align="LEFT">Equatorial radius (km)</th><td align="RIGHT">3,397.2</td></tr>
            <tr class="statr2"><th align="LEFT">Equatorial radius (Earth = 1)</th><td align="RIGHT">5.3264e-01</td></tr>
            <tr class="statr1"><th align="LEFT">Mean density (gm/cm^3)</th><td align="RIGHT">3.94</td></tr>
            <tr class="statr2"><th align="LEFT">Mean distance from the Sun (km)</th><td align="RIGHT">227,940,000</td></tr>
            <tr class="statr1"><th align="LEFT">Mean distance from the Sun (Earth = 1)</th><td align="RIGHT">1.5237</td></tr>
            <tr class="statr2"><th align="LEFT">Rotational period (hours)</th><td align="RIGHT">24.6229</td></tr>
            <tr class="statr1"><th align="LEFT">Rotational period (days)</th><td align="RIGHT">1.025957</td></tr>
            <tr class="statr2"><th align="LEFT">Orbital period (days)</th><td align="RIGHT">686.98</td></tr>
            <tr class="statr1"><th align="LEFT">Mean orbital velocity (km/sec)</th><td align="RIGHT">24.13</td></tr>
            <tr class="statr2"><th align="LEFT">Orbital eccentricity</th><td align="RIGHT">0.0934</td></tr>
            <tr class="statr1"><th align="LEFT">Tilt of axis (degrees)</th><td align="RIGHT">25.19</td></tr>
            <tr class="statr2"><th align="LEFT">Orbital inclination (degrees)</th><td align="RIGHT">1.850</td></tr>
            <tr class="statr1"><th align="LEFT">Equatorial surface gravity (m/sec^2)</th><td align="RIGHT">3.72</td></tr>
            <tr class="statr2"><th align="LEFT">Equatorial escape velocity (km/sec)</th><td align="RIGHT">5.02</td></tr>
            <tr class="statr1"><th align="LEFT">Visual geometric albedo</th><td align="RIGHT">0.15</td></tr>
            <tr class="statr2"><th align="LEFT">Magnitude (Vo)</th><td align="RIGHT">-2.01</td></tr>
            <tr class="statr1"><th align="LEFT">Minimum surface temperature</th><td align="RIGHT">-140°C</td></tr>
            <tr class="statr2"><th align="LEFT">Mean surface temperature</th><td align="RIGHT">-63°C</td></tr>
            <tr class="statr1"><th align="LEFT">Maximum surface temperature</th><td align="RIGHT">20°C</td></tr>
            <tr class="statr2"><th align="LEFT">Atmospheric pressure (bars)</th><td align="RIGHT">0.007</td></tr>
            <tr class="statr1"><th align="LEFT">Atmospheric composition
                <div class="indent">Carbon Dioxide (C02)<br>Nitrogen (N2)<br>Argon (Ar)
                    <br>Oxygen (O2)<br>Carbon Monoxide (CO)<br>Water (H2O)<br>Neon (Ne)
                    <br>Krypton (Kr)<br>Xenon (Xe)<br>Ozone (O3)</div>
            </th><td align="RIGHT"><br>95.32%<br>2.7%<br>1.6%<br>0.13%<br>0.07%<br>0.03%<br>0.00025%<br>0.00003%<br>0.000008%<br>0.000003%</td></tr>
            </tbody></table></center>

        </p><p></p><div class="box">Mars Moon Summary</div><p>

        The following table summarizes the radius, mass, distance
        from the planet center, discoverer and the date of discovery
        of each of the moons of Mars:
    </p><p>
    </p><table border="2" width="100%">
        <tbody><tr align="CENTER"><th>Moon</th><th>#</th><th>Radius<br>(km)</th><th>Mass<br>(kg)</th><th>Distance<br>(km)</th><th>Discoverer</th><th>Date</th></tr>
        <tr align="CENTER"><th>Phobos</th><td>I</td><td>13.5x10.8x9.4</td><td>1.08e+16</td><td>9,380</td><td>A. Hall</td><td>1877</td></tr>
        <tr align="CENTER"><th>Deimos</th><td>&nbsp;II&nbsp;</td><td>7.5x6.1x5.5</td><td>1.80e+15</td><td>23,460</td><td>A. Hall</td><td>1877</td></tr>
        </tbody></table>

    <p></p><div class="box">The Mars Movie</div><p>
    <center>
        <iframe width="100%" height="720" src="https://www.youtube.com/embed/D8pnmwOXhoY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

    <p></p><div class="box"> </div><p>
    <center>
        <a href="/SolarSystem/earth"><img src="../images/solar/left-chevron.png" alt="" border="0" width="50" height="50">Earth</a>
        <a href="/SolarSystem"><img src="../images/solar/home.gif" alt="" border="0"></a>
        <a href="/SolarSystem/jupiter">Jupiter<img src="../images/solar/right-chevron.png" alt="" border="0" width="50" height="50"></a>
    </center>
            </div>
        </div>
    </div>
</div>