<div class="solar">
    <div class="grid">
        <h1>The Solar System</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/solarsystemintroduction" class="category-item__link">Introduction</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/sun" class="category-item__link">Sun</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/mercury" class="category-item__link">Mercury</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/venus" class="category-item__link">Venus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/earth" class="category-item__link">Earth</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/mars" class="category-item__link">Mars</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/jupiter" class="category-item__link">Jupiter</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/saturn" class="category-item__link">Saturn</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/uranus" class="category-item__link">Uranus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/neptune" class="category-item__link">Neptune</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/pluto" class="category-item__link">Pluto</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/asteroids" class="category-item__link">Asteroids</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/comets" class="category-item__link">Comets</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/meteoroids" class="category-item__link">Meteoroids and Meteorites</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="grid__column-10">
    <table border="0" width="100%">
        <tbody><tr><td align="LEFT" width="1%">
            <img src="../images/solar/Mercury.jpg" border="0"  alt="Mercury" align="LEFT">
        </td>
            <td align="CENTER">
                <font size="+3"><b>Mercury Introduction</b></font><p>
                <i>When men are arrived at the goal, they should not turn back. - Plutarch
                </i>
            </p></td>
        </tr>
        </tbody></table>

    <div class="box"></div>

    <a name="intro">Mercury</a> was named by the Romans after the
    fleet-footed messenger of the gods because it seemed to move more
    quickly than any other planet.  It is the closest planet to
    the Sun, and second smallest planet in the solar system.  Its diameter is 40%
    smaller than Earth and 40% larger than the Moon.  It is even smaller than Jupiter's
    moon Ganymede and Saturn's moon Titan.
    <p>
        If an explorer were to step onto the surface of Mercury, he would
        discover a world resembling lunar terrain.  Mercury's rolling,
        dust-covered hills have been eroded from the constant bombardment of
        meteorites. Fault-cliffs rise for several
        kilometers in height and extend for hundreds of kilometers.  Craters
        dot the surface.  The explorer would notice that the Sun appears two
        and a half times larger than on Earth; however, the sky is always
        black because Mercury has virtually no atmosphere to cause scattering of
        light.  As the explorer gazes out into space, he might see two bright
        stars.  One appearing as cream colored Venus
        and the other as blue colored Earth.
    </p><p>
    Until Mariner 10, little was known about Mercury because of the
    difficulty in observing it from Earth telescopes.  At maximum elongation it is only 28
    degrees from the Sun as seen from Earth.  Because of this, it can only be viewed during
    daylight hours or just prior to sunrise or after sunset. When observed at dawn or dusk, Mercury
    is so low on the horizon that the light must pass through 10 times the amount of Earth's atmosphere
    than it would if Mercury was directly overhead.
</p><p>
    During the 1880's, Giovanni Schiaparelli drew a sketch showing faint features on Mercury.
    He determined that Mercury must be tidally locked to the Sun, just as the Moon is
    tidally locked to Earth.  In 1962, radio astronomers looked at radio emissions from
    Mercury and determined that the dark side was too warm to be tidally locked.  It was
    expected to be much colder if it always faced away from the Sun. In 1965, Pettengill and
    Dyce determined Mercury's period of rotation to be 59 +- 5 days based upon radar
    observations.  Later in 1971, Goldstein refined the rotation period to be 58.65 +- 0.25
    days using radar observations.  After close observation by the Mariner 10 spacecraft, the
    period was determined to be 58.646 +- 0.005 days.
</p>
    Although Mercury is not tidally locked to the Sun, its rotational period is tidally
    coupled to its orbital period.  Mercury rotates one and a half times during each orbit.
    Because of this 3:2 resonance, a day on Mercury (sun rise to sun rise) is 176
    Earth days long as shown by the following diagram.
</p><p>
</p><center>
    <table border="2"><tbody><tr><th><img src="../images/solar/mercrot.gif" alt="Mercury Rotation"></th></tr></tbody></table>
</center>
    <p>
        During Mercury's distant past, its period of rotation may have been
        faster.  Scientists speculate that its rotation could have been as
        rapid as 8 hours, but over millions of years it was slowly despun by
        solar tides.  A model of this process shows that such a despinning
        would take 10<sup>9</sup> years and would have raised the interior
        temperature by 100 degrees Kelvin.
    </p><p>
    Most of the scientific findings about Mercury comes from the
    Mariner 10 spacecraft which was launched on
    November 3, 1973.  It flew past the planet on March 29, 1974 at a
    distance of 705 kilometers from the surface.  On September 21, 1974
    it flew past Mercury for the second time and on March 16, 1975 for
    the third time.  During these visits, over 2,700 pictures were taken,
    covering 45% of Mercury's surface.  Up until this time, scientists did
    not suspect that Mercury would have a
    magnetic field.  They thought
    that because Mercury is small, its core would have solidified long
    ago. The presence of a magnetic field indicates that a planet has an
    iron core that is at least partially molten.  Magnetic fields are
    generated from the rotation of a conductive molten core and is known
    as the dynamo effect.
    </p>
    Mariner 10 showed that Mercury has a magnetic field that is 1% as strong as Earth's.
    This magnet field is inclined 7 degrees to Mercury's axis of rotation and produces a
    magnetosphere around the planet.  The source of the
    magnetic field is unknown.  It might be  produced from a partially molten iron core in
    the planet's interior.  Another source of the field might be from remnant magnetization
    of iron-bearing rocks which were magnetized when the planet had a strong magnetic field
    during its younger years.  As the planet cooled and solidified remnant magnetization was
    retained.
    </p><p>
    Even before Mariner 10, Mercury was known to have a high density. Its density is  5.44 g/cm<sup>3</sup> which is
    comparable to Earth's 5.52g/cm<sup>3</sup> density.  In an uncompressed state, Mercury's
    density is 5.5 g/cm<sup>3</sup> where Earth's is only 4.0 g/cm<sup>3</sup>.  This high
    density indicates that the planet is 60 to 70 percent by weight metal, and 30 percent by
    weight silicate.  This gives a core radius of 75% of the planet radius and a core volume
    of 42% of the planet's volume.

</p><h3>Surface of Mercury</h3>

    The pictures returned from the Mariner 10 spacecraft showed a world that resembles the
    moon.  It is pocked with craters, contains hugh multi-ring basins, and many lava flows.
    The craters range in size from 100 meters (the smallest resolvable feature on Mariner 10
    images) to 1,300 kilometers.  They are in various stages of preservation.  Some are young
    with sharp rims and bright rays extending from them.  Others are highly degraded, with
    rims that have been smoothed from the bombardment of meteorites.  The largest crater on
    Mercury is the Caloris basin.  A basin was defined by Hartmann and
    Kuiper (1962) as a "large circular depression with distinctive concentric rings and
    radial lineaments."  Others consider any crater larger than 200 kilometers a basin.  The
    Caloris basin is 1,300 kilometers in diameter, and was probably caused by a projectile
    larger than 100 kilometers in size.  The impact produced concentric mountain rings three
    kilometers high and sent ejecta 600 to 800 kilometers across the planet.  (Another good
    example of a basin showing concentric rings is the Valhalla region on Jupiter's
    moon Callisto.)  The seismic waves produced from the Caloris
    impact focused onto the other side of the planet and produced a region of chaotic
    terrain.  After the impact the crater was partially filled with lava flows.
    <p>
        Mercury is marked with great curved cliffs or lobate scarps that were apparently formed
        as Mercury cooled and shrank a few kilometers in size.  This shrinking produced a
        wrinkled crust with scarps kilometers high and hundreds of kilometers long.
    </p>
    The majority of Mercury's surface is covered by plains.  Much of it is old and heavily
    cratered, but some of the plains are less heavily cratered.  Scientists have classified
    these plains as intercrater plains and smooth plains.  Intercrater plains are less
    saturated with craters and the craters are less than 15 kilometers in diameter.  These
    plains were probably formed as lava flows buried the older terrain.  The smooth plains
    are younger still with fewer craters.  Smooth plains can be found around the Caloris
    basin.  In some areas patches of smooth lava can be seen filling craters.
</p><p>
    Mercury's history of formation is similar to that of Earth's.  About 4.5 billion years
    ago the planets formed.  This was a time of intense bombardment for the planets as they
    scooped up matter and debris left around from the nebula that formed them.  Early during
    this formation, Mercury probably differentiated into a dense metallic core, and a
    silicate crust.  After the intense bombardment period, lava flowed across the surface and
    covered the older crust.  By this time much of the debris had been swept up and Mercury
    entered a lighter bombardment period.  During this period the intercrater plains formed.
    Then Mercury cooled.  Its core contracted which in turn broke the crust and produced the
    prominent lobate scarps.  During the third stage, lava flooded the lowlands and produced
    the smooth plains.  During the fourth stage micrometeorite bombardment created a dusty
    surface also known as regolith.  A few larger meteorites impacted the surface and left
    bright rayed craters.  Other than the occasional collisions of a meteorites, Mercury's
    surface is no longer active and remains the same as it has for millions of years.

</p><h3>Could water exist on Mercury?</h3>

    It would appear that Mercury could not support water in any form.  It has very little
    atmosphere and is blazing hot during the day, but in 1991 scientists at Caltech bounced
    radio waves off Mercury and found an unusual bright return from the north pole.  The
    apparent brightening at the north pole could be explained by ice on or just under the
    surface.  But is it possible for Mercury to have ice?  Because Mercury's rotation is
    almost perpendicular to its orbital plain, the north pole always sees the sun just above
    the horizon.  The insides of craters would never be exposed to the Sun and scientists
    suspect that they would remain colder than -161 C.  These freezing temperatures could
    trap water outgassed from the planet, or ices brought to the planet from cometary
    impacts.  These ice deposits might be covered with a layer of dust and would still show
    bright radar returns.
    </p><p></p>
    </br>
    </br>
    <div class="box">Statistics</div>
    </br>
    <center>
        <table border="0" class="stat" cellpadding="2" cellspacing="0">
            <tbody><tr class="stath1"><th colspan="2">Mercury Statistics</th></tr>
            <tr class="statr1"><th align="LEFT">Mass (kg)</th><td align="RIGHT">3.303e+23</td></tr>
            <tr class="statr2"><th align="LEFT">Mass (Earth = 1)</th><td align="RIGHT">5.5271e-02</td></tr>
            <tr class="statr1"><th align="LEFT">Equatorial radius (km)</th><td align="RIGHT">2,439.7</td></tr>
            <tr class="statr2"><th align="LEFT">Equatorial radius (Earth = 1)</th><td align="RIGHT">3.8252e-01</td></tr>
            <tr class="statr1"><th align="LEFT">Mean density (gm/cm^3)</th><td align="RIGHT">5.42</td></tr>
            <tr class="statr2"><th align="LEFT">Mean distance from the Sun (km)</th><td align="RIGHT">57,910,000</td></tr>
            <tr class="statr1"><th align="LEFT">Mean distance from the Sun (Earth = 1)</th><td align="RIGHT">0.3871</td></tr>
            <tr class="statr2"><th align="LEFT">Rotational period (days)</th><td align="RIGHT">58.6462</td></tr>
            <tr class="statr1"><th align="LEFT">Orbital period (days)</th><td align="RIGHT">87.969</td></tr>
            <tr class="statr2"><th align="LEFT">Mean orbital velocity (km/sec)</th><td align="RIGHT">47.88</td></tr>
            <tr class="statr1"><th align="LEFT">Orbital eccentricity</th><td align="RIGHT">0.2056</td></tr>
            <tr class="statr2"><th align="LEFT">Tilt of axis (degrees)</th><td align="RIGHT">0.00</td></tr>
            <tr class="statr1"><th align="LEFT">Orbital inclination (degrees)</th><td align="RIGHT">7.004</td></tr>
            <tr class="statr2"><th align="LEFT">Equatorial surface gravity (m/sec^2)</th><td align="RIGHT">2.78</td></tr>
            <tr class="statr1"><th align="LEFT">Equatorial escape velocity (km/sec)</th><td align="RIGHT">4.25</td></tr>
            <tr class="statr2"><th align="LEFT">Visual geometric albedo</th><td align="RIGHT">0.10</td></tr>
            <tr class="statr1"><th align="LEFT">Magnitude (Vo)</th><td align="RIGHT">-1.9</td></tr>
            <tr class="statr2"><th align="LEFT">Mean surface temperature</th><td align="RIGHT">179°C</td></tr>
            <tr class="statr1"><th align="LEFT">Maximum surface temperature</th><td align="RIGHT">427°C</td></tr>
            <tr class="statr2"><th align="LEFT">Minimum surface temperature</th><td align="RIGHT">-173°C</td></tr>
            <tr class="statr1"><th align="LEFT">Atmospheric composition
                <div class="indent">Helium<br>Sodium<br>Oxygen
                    <br>Other</div></th><td align="RIGHT"><br>42%<br>42%<br>15%<br>1%</td></tr>
            </tbody></table>
    </center>


    <p></p><div class="box">The Mercury Movie</div><p>
    <center>
        <iframe width="100%" height="720" src="https://www.youtube.com/embed/0KBjnNuhRHs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

    <p></p><div class="box"> </div><p>
    <center>
        <a href="/SolarSystem/sun"><img src="../images/solar/left-chevron.png" alt="" border="0" width="50" height="50">Sun</a>
        <a href="/SolarSystem"><img src="../images/solar/home.gif" alt="" border="0"></a>
        <a href="/SolarSystem/venus">Venus<img src="../images/solar/right-chevron.png" alt="" border="0" width="50" height="50"></a>
    </center>
            </div>
        </div>
    </div>
</div>