<div class="solar">
    <div class="grid">
        <h1>The Solar System</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/solarsystemintroduction" class="category-item__link">Introduction</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/sun" class="category-item__link">Sun</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/mercury" class="category-item__link">Mercury</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/venus" class="category-item__link">Venus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/earth" class="category-item__link">Earth</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/mars" class="category-item__link">Mars</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/jupiter" class="category-item__link">Jupiter</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/saturn" class="category-item__link">Saturn</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/uranus" class="category-item__link">Uranus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/neptune" class="category-item__link">Neptune</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/pluto" class="category-item__link">Pluto</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/asteroids" class="category-item__link">Asteroids</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/comets" class="category-item__link">Comets</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/meteoroids" class="category-item__link">Meteoroids and Meteorites</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="grid__column-10">
    <table border="0" width="100%">
        <tbody><tr><td align="LEFT" width="1%">
            <img src="../images/solar/meteoroids.jpg" border="0"  alt="Meteoroids and Meteorites" align="LEFT">
        </td>
            <td align="CENTER">
                <font size="+3"><b>Meteoroids and Meteorites</b></font><p>
            </p></td>
        </tr>
        </tbody></table>

    <div class="box"></div>

    The term meteor comes from the Greek
    <i>meteoron</i>, meaning phenomenon in the
    sky. It is used to describe the streak of light produced as matter in
    the solar system falls into Earth's atmosphere creating temporary
    incandescence resulting from atmospheric friction.  This typically
    occurs at heights of 80 to 110 kilometers (50 to 68 miles)
    above Earth's surface.  The term is also
    used loosely with the word meteroid referring to the particle itself
    without relation to the phenomena it produces when entering the Earth's
    atmosphere. A meteoroid is matter revolving around the sun or any object
    in interplanetary space that is too small to be called an asteroid or
    a comet.  Even smaller particles are called micrometeoroids or cosmic
    dust grains, which includes any interstellar material that should happen
    to enter our solar system.  A meteorite is a meteoroid that reaches the
    surface of the Earth without being completely vaporized.
    <p>
        One of the primary goals of studying meteorites is to determine the
        history and origin of their parent bodies.  Several achondrites sampled
        from Antarctica since 1981 have conclusively been shown to have
        originated from the moon based on compositional matches of lunar rocks
        obtained by the Apollo missions of 1969-1972.  Sources of other specific
        metorites remain unproven, although another set of eight achondrites are
        suspected to have come from Mars.  These meteorites contain atmospheric
        gases trapped in shock melted minerals which match the composition of the
        Martian atmosphere as measured by the Viking landers in 1976.
        All other groups are presumed to have originated on asteroids or comets;
        the majority of meteorites are believed to be fragments of asteroids.
    </p><p>
</p><table border="2" align="right">
    <tbody><tr><th colspan="2">Meteorite Types &amp; Percentage that Falls to the Earth</th></tr>
    <tr valign="top"><td>
        <ul>
            <li>Stony meteorites
                <ul>
                    <li>Chondrites (85.7%)
                        <ul>
                            <li> Carbonaceous
                            </li><li> Enstatite
                        </li></ul>
                    </li><li> Achondrites (7.1%)
                    <ul>
                        <li> HED group
                        </li><li> SNC group
                    </li><li> Aubrites
                    </li><li> Ureilites
                    </li></ul>
                </li></ul>
            </li></ul></td>
        <td>
            <ul>
                <li> Stony iron meteorites (1.5%)
                    <ul>
                        <li> Pallasites
                        </li><li> Mesosiderites
                    </li></ul>
                </li><li>Iron meteorites (5.7%)
            </li></ul>
        </td></tr>
    </tbody></table>

    <p>
        Meteorites have proven difficult to classify, but the three broadest
        groupings are stony, stony iron, and iron.  The most common meteorites
        are chondrites, which are stony meteorites.  Radiometric dating of
        chondrites has placed them at the age of 4.55 billion years, which is
        the approximate age of the solar system.  They are considered pristine
        samples of early solar system matter, although in many cases their
        properties have been modified
        by thermal metamorphism or icy alteration.  Some meteoriticists have
        suggested that the different properties found in various chondrites
        suggest the location in which they were formed.  Enstatite chondrites
        contain the most refractory elements and are believed to have formed in
        the inner solar system.  Ordinary chondrites, being the most common type
        containing both volatile and oxidized elements, are thought to have
        formed in the inner asteroid belt.  Carbonaceous chondrites, which have
        the highest proportions of volatile elements and are the most oxidized,
        are thought to have originated in even greater solar distances.  Each of
        these classes can be further subdivided into smaller groups with distinct
        properties.
    </p><p>
    Other meteorite types which have been geologically processed are
    achondrites, irons and pallasites.  Achondrites are also stony meteorites,
    but they are considered differentiated or reprocessed matter.  They are
    formed by melting and recrystallization on or within meteorite parent
    bodies; as a result, achondrites have distinct textures and mineralogies
    indicative of igneous processes.
    Pallasites are stony iron meteorites composed of olivine
    enclosed in metal.  Iron meteorites are classified into thirteen major
    groups and consist primarily of iron-nickel alloys with minor amounts
    of carbon, sulfur, and phosphorus. These meteorites formed when molten metal
    segregated from less dense silicate material and cooled, showing another
    type of melting behavior within meteorite parent bodies.
    Thus, meteoritescontain evidence of changes that occurred on
    the parent bodies from
    which they were removed or broken off, presumably by impacts,
    to be placed in the first of many revolutions.
</p><p>
    The motion of meteoroids can be severely perturbed by the gravitational
    fields of major planets.  Jupiter's gravitational influence is capable
    of reshaping an asteroid's orbit from the main belt so that it dives
    into the inner solar system and crosses the orbit of
    Earth.
    This is apparently the case of the Apollo and Vesta asteroid fragments.
</p><p>
    Particles found in highly correlated orbits are called a stream
    components and those found in random orbits are called sporadic
    components.  It is thought that most meteor streams are formed by the
    decay of a comet nucleus and consequently are spread around the
    original orbit of the comet.  When Earth's orbit intersects a meteor
    stream, the meteor rate is increased and a meteor shower results.  A meteor
    shower typically will be active for several days.   A particularly
    intense meteor shower is called a meteor storm.  Sporadic meteors are
    believed to have had a gradual loss of orbital coherence with a meteor
    shower due to collisions and radiative effects, further enhanced by
    gravitational influences.  There is still some debate concerning sporadic
    meteors and their relationship with showers.

</p><p></p><div class="box">Pictures of Meteorites</div><p>

        <img src="../images/solar/martian%20meteorite.jpg" alt="Martian Meteorite" width="200" height="135" class="left">
    <b>Martian Meteorite</b>
    <br>
    This meteorite, a basalt lava rock nearly indistinguishable from many
    Earth rocks, provided the first strong proof that meteorites could come
    from Mars. Originally weighing nearly 8 kilograms (17.6 pounds), it was
    collected in 1979 in the Elephant Moraine area of Antarctica. The side of
    the cube at the lower left in this image measures 1 centimeter (0.4
    inches).
</p><p>
    This picture shows a sawn face of this fine-grained gray rock. (The
    vertical stripes are saw marks.) The black patches in the rock are melted
    rock, or glass, formed when a large meteorite hit Mars near the rock. The
    meteorite impact probably threw this rock, dubbed "EETA79001," off Mars
    and toward Antarctica on Earth. The black glass contains traces of
    martian atmosphere gases.
    This meteorite is 180 million years old.
</p><p>
    The Mars Exploration Rover Opportunity has discovered that a rock
    dubbed "Bounce" at Meridiani Planum has a very similar mineral composition
    to this meteorite and likely shares common origins. Bounce itself is
    thought to have originated outside the area surrounding Opportunity's
    landing site; an impact or collision likely threw the rock away from its
    primary home.<i>(Courtesy NASA/JSC/JPL)</i>
    <br clear="ALL"><br>
        <img src="../images/solar/block%20island%20meteorite.jpg" alt="'Block Island' Meteorite on Mars, Sol 1961 (Stereo)" border="1" width="200" height="165" class="left">
    <b>'Block Island' Meteorite on Mars</b>
    <br>
    Composition measurements by NASA's Mars Exploration Rover Opportunity
    confirm that this rock on the Martian surface is an iron-nickel meteorite.
</p><p>
    This image combines exposures from the left eye and right eye of the
    rover's panoramic camera to provide a three-dimensional view when seen
    through red-green glasses with the red lens on the left. The camera took
    the component images during the 1,961st Martian day, or sol, of
    Opportunity's mission on Mars (July 31), after approaching close enough
    to touch the rock with tools on the rover's robotic arm.
</p><p>
    Researchers have informally named the rock "Block Island." With a width of
    about two-thirds of a meter (2 feet), it is the largest meteorite yet
    found on Mars. Opportunity found a smaller iron-nickel meteorite, called
    "Heat Shield Rock" in late 2004.
    <i>(Courtesy NASA/JPL-Caltech/Cornell University)</i>
    <br clear="all"><br>
        <img src="../images/solar/Magnified%20Look%20at%20a%20Meteorite%20on%20Mars.jpg" alt="Magnified Look at a Meteorite on Mars" border="1" width="200" height="200" class="left">
    <b>Magnified Look at a Meteorite on Mars</b>
    <br>
    NASA's Mars Exploration Rover Opportunity used its microscopic imager to
    get this view of the surface of a rock called "Block Island" during the
    1,963rd Martian day, or sol, of the rover's mission on Mars (Aug. 1, 2009).
    The triangular pattern of small ridges seen at the upper right in this
    image and elsewhere on the rock is characteristic of iron-nickel
    meteorites found on Earth, especially after they have been cut, polished
    and etched. Block Island has been identified as an iron-nickel meteorite
    based on this surface texture and analysis of its composition by
    Opportunity's alpha particle X-ray spectrometer. At about 60 centimeters
    (2 feet) across, it is the largest meteorite yet found on Mars.
</p><p>
    This image shows a patch 32 millimeters by 32 millimeters (1.3 inches by
    1.3 inches) on the surface of Block Island while the target was fully
    illuminated by the sun. This target on the rock is informally named "New
    Shoreham." The vertical white streaks, especially near the top and bottom
    of the image, are artifacts caused by saturation of the camera's CCD
    (charge-coupled device, or image recorder) where sunlight glinted off
    metallic facets.
</p><p>
    The triangular pattern in the texture of iron-nickel meteorites, called
    the Widmanstatten pattern, formed more than 4.5 billion years ago as the
    metal cooled. One iron-nickel mineral, kamacite, formed thin layers along
    the surface of crystals of another, taenite, which contains less nickel.
    The two minerals differ in their resistance to either etching by acid or
    erosion by wind-blown sand, so those processes can make the pattern
    visible.
    <i>(Courtesy NASA/JPL-Caltech/Cornell University/USGS)</i>
    <br clear="all"><br>
        <img src="../images/solar/Chondrite%20Meteorite.jpg" alt="Chondrite Meteorite" border="1" width="170" height="197" class="left">
    <b>Chondrite Meteorite</b>
    <br>
    This meteorite fell in 1970 in Cherokee County, Oklahoma.
    It is subclassed as H Group or an olivine-bronzite chondrite.
    Meteorites are bits of rock that are captured by a planet's
    gravity and pulled to the surface. This meteorite is of a type named
    chondrite and is thought to have formed at the same time as the planets
    in the solar nebula, about 4.55 billion years ago.
    <i>(Copyright Calvin J. Hamilton)</i>
    <br clear="all"><br>
        <img src="../images/solar/Chondrite%20Meteorite%20Slice.jpg" alt="Chondrite Meteorite" border="1" width="200" height="183" class="left">
    <b>Chondrite Meteorite Slice</b>
    <br>
    This is a section from a stone chondrite meteorite that fell in 1852 in Harghita, Romania.
    <i>(Copyright Calvin J. Hamilton)</i>
    <br clear="all"><br>
        <img src="../images/solar/meteoroids.jpg" alt="Chondrite Meteorite" border="1" width="200" height="151" class="left">
    <b>Chondrite Meteorite Showing Regmaglypts</b>
    <br>
    This meteorite fell in 1924. Notice the depreessions on this sample.
    These are called <b>regmaglypts</b> and are most likely paralled to the air
    flow direction during the flight of the meteorite.
    <i>(Copyright Calvin J. Hamilton)</i>
    <br clear="all"><br>
        <img src="../images/solar/Achondrite%20Meteorite.jpg" alt="Achondrite Meteorite" border="1" width="200" height="110" class="left">
    <b>Achondrite Meteorite</b>
    <br>
    Discovered at Norton County, Kansas, this type of meteorite is
    known as an achondrite. It has a basaltic
    composition and was probably
    formed when an asteroid melted about 4.5 billion years ago. The
    asteroid broke up some time later and this small piece of the asteroid
    was captured by Earth's gravity and fell to the ground.
    <i>(Copyright Calvin J. Hamilton)</i>
    <br clear="all"><br>
        <img src="../images/solar/Iron%20Meteorite.jpg" alt="Iron Meteorite" border="1" width="157" height="200" class="left">
    <b>Iron Meteorite</b>
    <br>
    This iron meteorite was found at Victoria Land, Antarctica. This type of
    meteorite gets its name because it is mostly made of the elements iron
    and nickel. This sample is probably a small piece from the core of a
    large asteroid that broke apart.
    <i>(Copyright Calvin J. Hamilton)</i>
    <br clear="all"><br>
        <img src="../images/solar/Polished%20Iron%20Meteorite.jpg" alt="Iron Meteorite" border="1" width="200" height="164" class="left">
    <b>Polished Iron Meteorite</b>
    <br>
    This Iron (III E) Meteorite contains a distinctive crystal pattern
    known as the Widmanstaten structure.  It was fashioned over thousands
    or millions of years in a low gravity environment at an extremely low
    rate of cooling producing large crystals of nickel-rich and nickel-poor
    metallic bands.  Such a structure is impossible to forge making the
    identity of this and similar iron meteorites absolute.  Laboratories
    are only able to imitate it on the microscopic scale.  This sample
    has been cut, polished and etched with acid to enhance the view
    of the Widmanstaten structure.
    <i>(Copyright Calvin J. Hamilton)</i>
    <br clear="all"><br>
        <img src="../images/solar/Edmonton%20-%20Iron%20(III%20CD)%20Meteorite.jpg" alt="Iron Meteorite" border="1" width="200" height="165" class="left">
    <b>Edmonton - Iron (III CD) Meteorite</b>
    <br>
    This meteorite was found in 1942.
    <i>(Copyright Calvin J. Hamilton)</i>
    <br clear="all"><br>
        <img src="../images/solar/Martian%20Meteorite2.jpg" alt="Martian Meteorite" border="1" width="174" height="200" class="left">
    <b>Martian Meteorite</b>
    <br>
    This meteorite fell in 1911 in Alexandria, Egypt. It is believed to have
    formed on Mars based on its dense pyroxene (greenish-gray) and olivine
    (brown) crystals which are a signature of martian molten rock. It also
    contains water-bearing minerals.
    <i>(Copyright Calvin J. Hamilton)</i>
    <br clear="all"><br>
        <img src="../images/solar/Martian%20Meteorite%20Slice.jpg" alt="Martian Meteorite" border="1" width="200" height="200" class="left">
    <b>Martian Meteorite Slice</b>
    <br>
    This meteorite fell in 1962 in Katsina Province, Nigeria. It is
    believed that it is a fragment of a Martian lava flow. It found
    its way to Earth when a giant impact on Mars catapulted rock
    fragments into space. A close look at the black glass veins
    show they are impact melt that contain Martian gases.
    <i>(Copyright Calvin J. Hamilton)</i>
    <br clear="all"><br>
        <img src="../images/solar/Peekskill%20Meteorite.jpg" alt="Peekskill Meteorite" border="1" width="200" height="138" class="left">
    <b>Peekskill Meteorite</b>
    <br>
    This meteorite is famous for the fact that when it fell on October 9, 1992 it destroyed
    the trunk of a car in Westchester County, New York.
    <i>(Copyright Calvin J. Hamilton)</i>
    <br clear="all"><br>
        <img src="../images/solar/Stony-iron%20Meteorite.jpg" alt="Stony-iron Meteorite" border="1" width="200" height="144" class="left">
    <b>Stony-iron Meteorite</b>
    <br>
    This stoyn-iron, Pallasite meteorite was found in Atacama, Chile in 1822.
    <i>(Copyright Calvin J. Hamilton)</i>
    <br clear="all"><br>
        <img src="../images/solar/Stony-iron%20Meteorite2.jpg" alt="Stony-iron Meteorite" border="1" width="200" height="144" class="left">
    <b>Stony-iron Meteorite</b>
    <br>
    This Stony-iron , pallasite meteorite was found in 1909 in Chihuahua, Mexico.
    <i>(Copyright Calvin J. Hamilton)</i>
    <br clear="all"><br>
        <img src="../images/solar/Vesta%20Meteorite.jpg" alt="Vesta Meteorite" border="1" width="200" height="143" class="left">
    <b>Vesta Meteorite</b>
    <br>
    This meteorite is assumed to be a sample of the crust of the asteroid
    Vesta,
    which is only the third solar system object beyond Earth where scientists
    have a laboratory sample (the other extraterrestrial samples are from Mars
    and the Moon).  The meteorite is unique because it is made almost entirely of
    the mineral pyroxene, common in lava flows.  The meteorite's mineral grain
    structure also indicates it was once molten, and its oxygen isotopes
    are unlike oxygen isotopes found for all other rocks of the Earth and
    Moon.  The meteorite's chemical identity points to the asteroid Vesta
    because it has the same unique spectral signature of the mineral
    pyroxene.
</p><p>
    Most of the identified meteorites from Vesta are in the care of the
    Western Australian Museum.  This 1.4 pound (631 gm) specimen comes from
    the New England Meteoritical Services.  It is a complete specimen
    measuring
    9.6 x 8.1 x 8.7 centimeters (3.7 x 3.1 x 3.4 inches),
    showing the fusion crust, evidence of the last stage in its journey to
    Earth.
    <i>(Photo Credit: R. Kempton, New England Meteoritical Services)</i>
    <br clear="all"><br>
    </p><div class="box">Meteoroids and Meteorites Movie</div><p>
    <center>
        <iframe width="100%" height="745" src="https://www.youtube.com/embed/XiXvJCpydMs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

    <p></p><div class="box"> </div><p>
    <center>
        <a href="/SolarSystem/comets"><img src="../images/solar/left-chevron.png" alt="" border="0" width="50" height="50">Comets</a>
        <a href="/SolarSystem"><img src="../images/solar/home.gif" alt="" border="0"></a>
        <a href="/SolarSystem/sun">Sun<img src="../images/solar/right-chevron.png" alt="" border="0" width="50" height="50"></a>
    </center>
            </div>
        </div>
    </div>
</div>