<div class="solar">
    <div class="grid">
        <h1>The Solar System</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/solarsystemintroduction" class="category-item__link">Introduction</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/sun" class="category-item__link">Sun</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/mercury" class="category-item__link">Mercury</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/venus" class="category-item__link">Venus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/earth" class="category-item__link">Earth</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/mars" class="category-item__link">Mars</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/jupiter" class="category-item__link">Jupiter</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/saturn" class="category-item__link">Saturn</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/uranus" class="category-item__link">Uranus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/neptune" class="category-item__link">Neptune</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/pluto" class="category-item__link">Pluto</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/asteroids" class="category-item__link">Asteroids</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/comets" class="category-item__link">Comets</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/meteoroids" class="category-item__link">Meteoroids and Meteorites</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="grid__column-10">
    <table border="0" width="100%">
        <tbody><tr><td align="LEFT" width="1%">
            <img src="../images/solar/Neptune.jpg" border="0"  alt="neptunes" align="LEFT">
        </td>
            <td align="CENTER">
                <font size="+3"><b>Neptune Introduction</b></font><p>
                <i>In the long run men hit only what they aim at.
                    - Thoreau
                </i>
            </p></td>
        </tr>
        </tbody></table>

    <div class="box"></div>
        <p>
        Neptune is the outermost planet of the gas giants. It has an equatorial
        diameter of 49,500 kilometers (30,760 miles). If Neptune were hollow,
        it could contain nearly 60 Earths. Neptune orbits the Sun every 165
        years. It has eight moons, six of which were found by
        <b>Voyager</b>. A day on Neptune is 16
        hours and 6.7 minutes. Neptune was discovered on September 23, 1846
        by <b>Johann Gottfried Galle</b>, of the Berlin
        Observatory, and Louis d'Arrest, an astronomy student, through
        mathematical predictions made by Urbain Jean Joseph Le Verrier.
        </p>
        <p>
            The first two thirds of Neptune is composed of a mixture of molten
            rock, water, liquid ammonia and methane. The outer third is a mixture
            of heated gases comprised of hydrogen, helium, water and methane. Methane
            gives Neptune its blue cloud color.
        </p><p>
        Neptune is a dynamic planet with several large, dark spots reminiscent of
        Jupiter's hurricane-like storms. The largest
        spot, known as the <i>Great Dark Spot</i>, is
        about the size of the earth and is similar to the
        <i>Great Red Spot</i> on Jupiter.
        Voyager revealed a small, irregularly shaped, eastward-moving cloud
        <i>scooting</i> around Neptune every 16 hours or so. This <i>scooter</i>
        as it has been dubbed could be a plume rising above a deeper
        cloud deck.
</p><p>
        Long bright clouds, similar to cirrus clouds on Earth, were seen high
        in Neptune's atmosphere. At low northern latitudes, Voyager captured
        images of cloud streaks casting their shadows on cloud decks below.
    </p><p>
        The strongest winds on any planet were measured on Neptune. Most of the
        winds there blow westward, opposite to the rotation of the planet. Near
        the Great Dark Spot, winds blow up to 2,000 kilometers (1,200 miles) an
        hour.
    </p><p>
        Neptune has a set of four rings which are narrow and very faint. The
        rings are made up of dust particles thought to have been made by tiny
        meteorites smashing into Neptune's moons. From ground based telescopes
        the rings appear to be arcs but from Voyager 2 the arcs turned out to
        be bright spots or clumps in the ring system. The exact cause of the
        bright clumps is unknown.
</p><p>
        The magnetic field of Neptune, like that of
        Uranus, is highly tilted at 47 degrees from the rotation axis and offset at
        least 0.55 radii (about 13,500 kilometers or 8,500 miles) from the
        physical center. Comparing the magnetic fields of the two planets,
        scientists think the extreme orientation may be characteristic of flows
        in the interior of the planet and not the result of that planet's
        sideways orientation or of any possible field reversals at either planet.
    </p>
    </br>
    </br>
    <div class="box">Statistics</div>
    </br>
    <center>
        <table border="0" class="stat" cellpadding="2" cellspacing="0">
            <tbody><tr class="stath1"><th colspan="2">Neptune Statistics</th></tr>
            <tr class="statr1"><th align="LEFT">Discovered by</th><td align="RIGHT">Johann Gotfried Galle</td></tr>
            <tr class="statr2"><th align="LEFT">Date of discovery</th><td align="RIGHT">September 23, 1846</td></tr>
            <tr class="statr1"><th align="LEFT">Mass (kg)</th><td align="RIGHT">1.024e+26</td></tr>
            <tr class="statr2"><th align="LEFT">Mass (Earth = 1)</th><td align="RIGHT">1.7135e+01</td></tr>
            <tr class="statr1"><th align="LEFT">Equatorial radius (km)</th><td align="RIGHT">24,746</td></tr>
            <tr class="statr2"><th align="LEFT">Equatorial radius (Earth = 1)</th><td align="RIGHT">3.8799e+00</td></tr>
            <tr class="statr1"><th align="LEFT">Mean density (gm/cm^3)</th><td align="RIGHT">1.64</td></tr>
            <tr class="statr2"><th align="LEFT">Mean distance from the Sun (km)</th><td align="RIGHT">4,504,300,000</td></tr>
            <tr class="statr1"><th align="LEFT">Mean distance from the Sun (Earth = 1)</th><td align="RIGHT">30.0611</td></tr>
            <tr class="statr2"><th align="LEFT">Rotational period (hours)</th><td align="RIGHT">16.11</td></tr>
            <tr class="statr1"><th align="LEFT">Orbital period (years)</th><td align="RIGHT">164.79</td></tr>
            <tr class="statr2"><th align="LEFT">Mean orbital velocity (km/sec)</th><td align="RIGHT">5.45</td></tr>
            <tr class="statr1"><th align="LEFT">Orbital eccentricity</th><td align="RIGHT">0.0097</td></tr>
            <tr class="statr2"><th align="LEFT">Tilt of axis (degrees)</th><td align="RIGHT">29.56</td></tr>
            <tr class="statr1"><th align="LEFT">Orbital inclination (degrees)</th><td align="RIGHT">1.774</td></tr>
            <tr class="statr2"><th align="LEFT">Equatorial surface gravity (m/sec^2)</th><td align="RIGHT">11.0</td></tr>
            <tr class="statr1"><th align="LEFT">Equatorial escape velocity (km/sec)</th><td align="RIGHT">23.50</td></tr>
            <tr class="statr2"><th align="LEFT">Visual geometric albedo</th><td align="RIGHT">0.41</td></tr>
            <tr class="statr1"><th align="LEFT">Magnitude (Vo)</th><td align="RIGHT">7.84</td></tr>
            <tr class="statr2"><th align="LEFT">Mean cloud temperature</th><td align="RIGHT">-193 to -153°C</td></tr>
            <tr class="statr1"><th align="LEFT">Atmospheric pressure (bars)</th><td align="RIGHT">1-3</td></tr>
            <tr class="statr2"><th align="LEFT">Atmospheric composition
                <div class="indent">Hydrogen<br>Helium<br>Methane</div></th><td align="RIGHT"><br>85%<br>13%<br>2%</td></tr>
            </tbody></table>
    </center>

    </p><p></p><div class="box">Rings of Neptune</div><p>

</p><p>The following table is a summary of the rings of Neptune.
</p><p>
</p><table border="2" cellspacing="2" cellpadding="3" width="100%">
    <tbody><tr><th>Name</th><th>Distance*</th><th>Width</th><th>Thickness</th><th>Mass</th><th>Albedo</th></tr>
    <tr align="CENTER"><th>1989N3R</th><td>41,900 km</td><td>15 km</td><td>?</td><td>?</td><td>low</td></tr>
    <tr align="CENTER"><th>1989N2R</th><td>53,200 km</td><td>15 km</td><td>?</td><td>?</td><td>low</td></tr>
    <tr align="CENTER"><th>1989N4R</th><td>53,200 km</td><td>5,800 km</td><td>?</td><td>?</td><td>low</td></tr>
    <tr align="CENTER"><th>1989N1R</th><td>62,930 km</td><td>&lt; 50 km</td><td>?</td><td>?</td><td>low</td></tr>
    </tbody></table>
    <p>*The distance is measured from the planet center to the start
        of the ring.

    </p><p></p><div class="box">Neptune Moon Summary</div><p>

    The following table summarizes the radius, mass, distance
    from the planet center, discoverer and the date of discovery
    of each of the moons of Neptune:
</p><p>
</p><table border="2" width="100%">
    <tbody><tr><th>Moon</th><th>#</th><th>Radius<br>(km)</th><th>Mass<br>(kg)</th><th>Distance<br>(km)</th><th>Discoverer</th><th>Date
    </th></tr><tr align="CENTER"><th align="LEFT">&nbsp;Naiad</th><td>III</td><td>29</td><td>?</td><td>48,000</td><td>Voyager 2</td><td>1989
    </td></tr><tr align="CENTER"><th align="LEFT">&nbsp;Thalassa</th><td>IV</td><td>40</td><td>?</td><td>50,000</td><td>Voyager 2</td><td>1989
    </td></tr><tr align="CENTER"><th align="LEFT">&nbsp;Despina</th><td>V</td><td>74</td><td>?</td><td>52,500</td><td>Voyager 2</td><td>1989
    </td></tr><tr align="CENTER"><th align="LEFT">&nbsp;Galatea</th><td>VI</td><td>79</td><td>?</td><td>62,000</td><td>Voyager 2</td><td>1989
    </td></tr><tr align="CENTER"><th align="LEFT">&nbsp;Larissa</th><td>VII</td><td>104x89</td><td>?</td><td>73,600</td><td>Voyager 2</td><td>1989
    </td></tr><tr align="CENTER"><th align="LEFT">&nbsp;Proteus</th><td>VIII</td><td>200</td><td>?</td><td>117,600</td><td>Voyager 2</td><td>1989
    </td></tr><tr align="CENTER"><th align="LEFT">&nbsp;Triton</th><td>I</td><td>1,350</td><td>2.14e+22</td><td>354,800</td><td>W. Lassell</td><td>1846
    </td></tr><tr align="CENTER"><th align="LEFT">&nbsp;Nereid</th><td>II</td><td>170</td><td>?</td><td>5,513,400</td><td>G. Kuiper</td><td>1949
    </td></tr></tbody></table>

    <p></p><div class="box">The Neptune Movie</div><p>
    <center>
                <iframe width="100%" height="688" src="https://www.youtube.com/embed/NStn7zZKXfE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

    <p></p><div class="box"> </div><p>
    <center>
        <a href="/SolarSystem/uranus"><img src="../images/solar/left-chevron.png" alt="" border="0" width="50" height="50">Uranus</a>
        <a href="/SolarSystem"><img src="../images/solar/home.gif" alt="" border="0"></a>
        <a href="/SolarSystem/pluto">Pluto<img src="../images/solar/right-chevron.png" alt="" border="0" width="50" height="50"></a>
    </center>
            </div>
        </div>
    </div>
</div>