<div class="solar">
    <div class="grid">
        <h1>The Solar System</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/solarsystemintroduction" class="category-item__link">Introduction</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/sun" class="category-item__link">Sun</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/mercury" class="category-item__link">Mercury</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/venus" class="category-item__link">Venus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/earth" class="category-item__link">Earth</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/mars" class="category-item__link">Mars</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/jupiter" class="category-item__link">Jupiter</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/saturn" class="category-item__link">Saturn</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/uranus" class="category-item__link">Uranus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/neptune" class="category-item__link">Neptune</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/pluto" class="category-item__link">Pluto</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/asteroids" class="category-item__link">Asteroids</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/comets" class="category-item__link">Comets</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/meteoroids" class="category-item__link">Meteoroids and Meteorites</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="grid__column-10">
    <table border="0" width="100%">
        <tbody><tr><td align="LEFT" width="1%">
            <img src="../images/solar/saturn.jpg" border="0"  alt="Saturn" align="LEFT" width="170" height="170">
        </td>
            <td align="CENTER">
                <font size="+3"><b>Saturn Introduction</b></font><p>
                <i>It is difficult to say what is impossible, for the dream of yesterday is the hope of today and reality of tomorrow.
                    - Robert Goddard
                </i>
            </p></td>
        </tr>
        </tbody></table>

        <div class="box"></div>
<p>
        Saturn is the sixth planet from the Sun and is the second largest in the
        solar system with an equatorial diameter of 119,300 kilometers (74,130
        miles). Much of what is known about the planet is due to the
        <b >Voyager</b> explorations in 1980-81.
        Saturn is visibly flattened at the poles, a result of the very fast
        rotation of the planet on its axis. Its day is 10 hours, 39 minutes
        long, and it takes 29.5 Earth years to revolve about the Sun. The
        atmosphere is primarily composed of hydrogen with small amounts of
        helium and methane. Saturn is the only planet less dense than water
        (about 30 percent less). In the unlikely event that a large enough ocean
        could be found, Saturn would float in it. Saturn's hazy yellow hue is
        marked by broad atmospheric banding similar to, but fainter than, that
        found on Jupiter.
</p><p>
            The wind blows at high speeds on Saturn. Near the equator, it reaches
            velocities of 500 meters a second (1,100 miles an hour). The wind blows
            mostly in an easterly direction. The strongest winds are found near the
            equator and velocity falls off uniformly at higher latitudes. At
            latitudes greater than 35 degrees, winds alternate east and west as
            latitude increases.
</p><p>
        Saturn's <b >ring system</b>
        makes the planet one of the most beautiful objects
        in the solar system. The rings are split into a number of different
        parts, which include the bright A and B rings and a fainter C ring. The
        ring system has various gaps. The most notable gap is the Cassini
        [kah-SEE-nee] Division, which separates the A and B rings.
        <b >Giovanni Cassini</b> discovered this
        division in 1675. The Encke [EN-kee] Division, which splits the A Ring,
        is named after Johann Encke, who discovered it in 1837. Space probes
        have shown that the main rings are really made up of a large number
        of narrow ringlets. The origin of the rings is obscure. It is thought
        that the rings may have been formed from larger moons that were
        shattered by impacts of comets and meteoroids. The ring composition
        is not known for certain, but the rings do show a significant amount of
        water. They may be composed of icebergs and/or snowballs from a few
        centimeters to a few meters in size.  Much of the elaborate structure of
        some of the rings is due to the gravitational effects of nearby
        satellites. This phenomenon is demonstrated by the relationship between
        the F-ring and two small moons that <i>shepherd</i> the ring material.
    </p><p>
        Radial, spoke-like features in the broad B-ring were also found by the
        Voyagers. The features are believed to be composed of fine, dust-size
        particles. The spokes were observed to form and dissipate in the
        time-lapse images taken by the Voyagers. While electrostatic charging
        may create spokes by levitating dust particles above the ring, the
        exact cause of the formation of the spokes is not well understood.
    </p><p>
        Saturn has 30 named satellites and more continue to be discovered.

</p>
    </br>
    </br>
    <div class="box">Statistics</div>
    </br>
    <center>
        <table class="stat">
            <tbody><tr class="stath1"><th colspan="2">Saturn Statistics</th></tr>
            <tr class="statr1"><th>Mass (kg)</th><td>5.688e+26</td></tr>
            <tr class="statr2"><th>Mass (Earth = 1)</th><td>9.5181e+01</td></tr>
            <tr class="statr1"><th>Equatorial radius (km)</th><td>60,268</td></tr>
            <tr class="statr2"><th>Equatorial radius (Earth = 1)</th><td>9.4494e+00</td></tr>
            <tr class="statr1"><th>Mean density (gm/cm^3)</th><td>0.69</td></tr>
            <tr class="statr2"><th>Mean distance from the Sun (km)</th><td>1,429,400,000</td></tr>
            <tr class="statr1"><th>Mean distance from the Sun (Earth = 1)</th><td>9.5388</td></tr>
            <tr class="statr2"><th>Rotational period (hours)</th><td>10.233</td></tr>
            <tr class="statr1"><th>Orbital period (years)</th><td>29.458</td></tr>
            <tr class="statr2"><th>Mean orbital velocity (km/sec)</th><td>9.67</td></tr>
            <tr class="statr1"><th>Orbital eccentricity</th><td>0.0560</td></tr>
            <tr class="statr2"><th>Tilt of axis (degrees)</th><td>25.33</td></tr>
            <tr class="statr1"><th>Orbital inclination (degrees)</th><td>2.488</td></tr>
            <tr class="statr2"><th>Equatorial surface gravity (m/sec^2)</th><td>9.05</td></tr>
            <tr class="statr1"><th>Equatorial escape velocity (km/sec)</th><td>35.49</td></tr>
            <tr class="statr2"><th>Visual geometric albedo</th><td>0.47</td></tr>
            <tr class="statr1"><th>Magnitude (Vo)</th><td>0.67</td></tr>
            <tr class="statr2"><th>Mean cloud temperature</th><td>-125°C</td></tr>
            <tr class="statr1"><th>Atmospheric pressure (bars)</th><td>1.4</td></tr>
            <tr class="statr2"><th>Atmospheric composition<div class="indent">Hydrogen<br>Helium</div></th><td><br>97%<br>3%</td></tr>
            </tbody></table></center>




        <div class="box">Saturn's Moon Summary</div><p>

        Saturn has 31 officially recognized and named satellites. In addition,
        there are other <b >unconfirmed satellites</b>. One
        circles in the orbit of Dione, a second is located between the orbits
        of Tethys and Dione, and a third is located between Dione and Rhea. The
        unconfirmed satellites were found in Voyager photographs, but were not
        confirmed by more than one sighting. Recently, the Hubble Space
        Telescope imaged four objects that might be new moons.
    </p><p>
        Several generalizations can be made about the satellites of Saturn. Only
        <b >Titan</b> has an appreciable atmosphere. Most of
        the satellites have a
        <b >synchronous rotation</b>. The exceptions
        are <b >Hyperion</b>, which has a chaotic orbit, and
        <b >Phoebe</b>. Saturn has a regular system of
        satellites. That is, the satellites have nearly circular orbits and lie
        in the equatorial plane. The two exceptions are
        <b >Iapetus</b> and <b >Phoebe</b>.
        All of the satellites have a density of &lt; 2 gm/cm<sup>3</sup>. This
        indicates they are composed of 30 to 40% rock and 60 to 70% water ice.
        Most of the satellites reflect 60 to 90% of the light that strikes them.
        The outer four satellites reflect less than this and
        <b >Phoebe</b> reflects only 2% of the light that
        strikes it.
    </p>
    <p>
        The following table summarizes the radius, mass, distance from the
        planet center, discoverer and the date of discovery of each of the
        confirmed satellites of Saturn:
    </p>
    <table border="0" class="stats" cellpadding="2" cellspacing="2" width="100%">
        <tbody><tr class="stath1"><th>Moon</th><th>#</th><th>Radius<br>(km)</th><th>Mass<br>(kg)</th><th>Distance<br>(km)</th><th>Discoverer</th><th>Date</th></tr>
        <tr class="statr1" align="center"><td align="left">Pan</td><td>XVIII</td><td>9.655</td><td>?</td><td>133,583</td><td>Mark R. Showalter</td><td>1990</td></tr>
        <tr class="statr2" align="center"><td align="left">S/2005 S1</td><td></td><td>7</td><td>?</td><td>136,530</td><td>Cassini Spacecraft</td><td>2005</td></tr>
        <tr class="statr1" align="center"><td align="left">Atlas</td><td>XV</td><td>20x15</td><td>?</td><td>137,640</td><td>R. Terrile</td><td>1980</td></tr>
        <tr class="statr2" align="center"><td align="left">Prometheus</td><td>XVI</td><td>72.5x42.5x32.5</td><td>2.7e+17*</td><td>139,350</td><td>S. Collins &amp; others</td><td>1980</td></tr>
        <tr class="statr1" align="center"><td align="left">Pandora</td><td>XVII</td><td>57x42x31</td><td>2.2e+17*</td><td>141,700</td><td>S. Collins &amp; others</td><td>1980</td></tr>
        <tr class="statr2" align="center"><td align="left">Epimetheus</td><td>XI</td><td>72x54x49</td><td>5.6e+17*</td><td>151,422</td><td>R. Walker</td><td>1980</td></tr>
        <tr class="statr1" align="center"><td align="left">Janus</td><td>X</td><td>98x96x75</td><td>2.01e+18*</td><td>151,472</td><td>Audouin Dollfus</td><td>1966</td></tr>
        <tr class="statr2" align="center"><td align="left">Mimas</td><td>I</td><td>198.6 +- 0.6</td><td>3.84E+19</td><td>185,520</td><td>William Herschel</td><td>1789</td></tr>
        <tr class="statr1" align="center"><td align="left">Enceladus</td><td>II</td><td>249.4 +- 0.2</td><td>8.65E+19</td><td>238,020</td><td>William Herschel</td><td>1789</td></tr>
        <tr class="statr2" align="center"><td align="left">Tethys</td><td>III</td><td>529.9 +- 1.5</td><td>6.176E+20</td><td>294,660</td><td>Giovanni Domenico Cassini</td><td>1684</td></tr>
        <tr class="statr1" align="center"><td align="left">Telesto</td><td>XIII</td><td>17x14x13</td><td>?</td><td>294,660</td><td>B. Smith &amp; others</td><td>1980</td></tr>
        <tr class="statr2" align="center"><td align="left">Calypso</td><td>XIV</td><td>17x11x11</td><td>?</td><td>294,660</td><td>B. Smith &amp; others</td><td>1980</td></tr>
        <tr class="statr1" align="center"><td align="left">Dione</td><td>IV</td><td>559. +- 5</td><td>1.0959E+21</td><td>377,400</td><td>Giovanni Domenico Cassini</td><td>1684</td></tr>
        <tr class="statr2" align="center"><td align="left">Helene</td><td>XII</td><td>18x16x15</td><td>?</td><td>377,400</td><td>P. Laques &amp; J. Lecacheus</td><td>1980</td></tr>
        <tr class="statr1" align="center"><td align="left">Rhea</td><td>V</td><td>764. +- 4</td><td>2.3166E+21</td><td>527,040</td><td>Giovanni Domenico Cassini</td><td>1672</td></tr>
        <tr class="statr2" align="center"><td align="left">Titan</td><td>VI</td><td>2575.5 +- 2</td><td>1.345426E+23</td><td>1,221,850</td><td>Christiaan Huygens</td><td>1655</td></tr>
        <tr class="statr1" align="center"><td align="left">Hyperion</td><td>VII</td><td>205x130x110</td><td>1.77E+19</td><td>1,481,000</td><td>William Cranch Bond</td><td>1848</td></tr>
        <tr class="statr2" align="center"><td align="left">Iapetus</td><td>VIII</td><td>730</td><td>1.88E+21</td><td>3,561,300</td><td>Giovanni Domenico Cassini</td><td>1671</td></tr>
        <tr class="statr1" align="center"><td align="left">Kiviuq</td><td>XXIV</td><td>7</td><td></td><td>11,365,000</td><td>B. Gladman</td><td>2000</td></tr>
        <tr class="statr2" align="center"><td align="left">Ijiraq</td><td>XXII</td><td>5</td><td></td><td>11,442,000</td><td>J.J. Kavelaars, B. Gladman</td><td>2000</td></tr>
        <tr class="statr1" align="center"><td align="left">Phoebe</td><td>IX</td><td>115 x 110 x 105 </td><td>4E+18</td><td>12,952,000</td><td>William Henry Pickering</td><td>1898</td></tr>
        <tr class="statr2" align="center"><td align="left">Paaliaq</td><td>XX</td><td>9.5</td><td></td><td>15,198,000</td><td>B. Gladman</td><td>2000</td></tr>
        <tr class="statr1" align="center"><td align="left">Skathi</td><td>XXVII</td><td>3.2</td><td></td><td>15,641,000</td><td>J.J. Kavelaars, B. Gladman</td><td>2000</td></tr>
        <tr class="statr2" align="center"><td align="left">Albiorix</td><td>XXVI</td><td>13</td><td></td><td>16,394,000</td><td>M. Holman, T.B. Spahr</td><td>2000</td></tr>
        <tr class="statr1" align="center"><td align="left">Erriapo</td><td>XXVIII </td><td>4.3</td><td></td><td>17,604,000</td><td>J.J. Kavelaars, B. Gladman</td><td>2000</td></tr>
        <tr class="statr2" align="center"><td align="left">Siarnaq</td><td>XXIX </td><td>16</td><td></td><td>18,195,000</td><td>B. Gladman, J.J. Kavelaars</td><td>2000</td></tr>
        <tr class="statr1" align="center"><td align="left">Tarvos</td><td>XXI</td><td>6.5</td><td></td><td>18,239,000</td><td>J.J. Kavelaars, B. Gladman</td><td>2000</td></tr>
        <tr class="statr2" align="center"><td align="left">S/2003 S1</td><td></td><td>3.3</td><td></td><td>18,719,000</td><td>S.S. Sheppard</td><td>2003</td></tr>
        <tr class="statr1" align="center"><td align="left">Mundilfari</td><td>XXV</td><td>2.8</td><td></td><td>18,722,000</td><td>B. Gladman, J.J. Kavelaars</td><td>2000</td></tr>
        <tr class="statr2" align="center"><td align="left">Suttungr</td><td>XXIII</td><td>2.8</td><td></td><td>19,465,000</td><td>B. Gladman, J.J. Kavelaars</td><td>2000</td></tr>
        <tr class="statr1" align="center"><td align="left">Thrymr</td><td>XXX </td><td>2.8</td><td></td><td>20,219,000</td><td>B. Gladman, J.J. Kavelaars</td><td>2000</td></tr>
        <tr class="statr2" align="center"><td align="left">Ymir</td><td>XIX</td><td>8</td><td></td><td>23,130,000</td><td>B. Gladman</td><td>2000</td></tr>
        </tbody></table>

    <p></p><div class="box">The Saturn Movie</div><p>
    <center>
        <iframe width="100%" height="720" src="https://www.youtube.com/embed/epZdZaEQhS0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

    <p></p><div class="box"> </div><p>
    <center>
        <a href="/SolarSystem/jupiter"><img src="../images/solar/left-chevron.png" alt="" border="0" width="50" height="50">Jupiter</a>
        <a href="/SolarSystem"><img src="../images/solar/home.gif" alt="" border="0"></a>
        <a href="/SolarSystem/uranus">Uranus<img src="../images/solar/right-chevron.png" alt="" border="0" width="50" height="50"></a>
    </center>
            </div>
        </div>
    </div>
</div>