<div class="solar">
    <div class="grid">
        <h1>The Solar System</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/solarsystemintroduction" class="category-item__link">Introduction</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/sun" class="category-item__link">Sun</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/mercury" class="category-item__link">Mercury</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/venus" class="category-item__link">Venus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/earth" class="category-item__link">Earth</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/mars" class="category-item__link">Mars</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/jupiter" class="category-item__link">Jupiter</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/saturn" class="category-item__link">Saturn</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/uranus" class="category-item__link">Uranus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/neptune" class="category-item__link">Neptune</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/pluto" class="category-item__link">Pluto</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/asteroids" class="category-item__link">Asteroids</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/comets" class="category-item__link">Comets</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/meteoroids" class="category-item__link">Meteoroids and Meteorites</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="grid__column-10">
    <table border="0" width="100%">
        <tbody><tr><td align="LEFT" width="1%">
            <img src="../images/solar/sun.jpg" border="0"  alt="The Sun" align="LEFT">
        </td>
            <td align="CENTER">
                <font size="+3"><b>Sun Introduction</b></font><p>
                <i>
                    Mankind will not remain on Earth forever, but in its quest for light and space will at first timidly
                    penetrate beyond the confines of the atmosphere, and later will conquer for itself all the space near
                    the Sun. - Konstantin E. Tsiolkovsky
                </i>
            </p></td>
        </tr>
        </tbody></table>

    <div class="box"></div>

    The Sun is the most prominent feature in our solar system. It is the
    largest object and contains approximately 98% of the total solar system
    mass. One hundred and nine Earths would be required to fit across
    the Sun's disk, and its interior could hold over 1.3 million Earths.
    The Sun's outer visible layer is called the photosphere and has a
    temperature of 6,000°C (11,000°F).
    This layer has a mottled appearance due to the turbulent eruptions
    of energy at the surface.
    <p>
        Solar energy is
        created deep within the core of the Sun. It is here that the
        temperature (15,000,000° C; 27,000,000° F)
        and pressure (340 billion times Earth's air pressure at sea level)
        is so intense that nuclear reactions take place.
        This reaction causes four protons or hydrogen nuclei
        to fuse together to form one alpha particle or helium nucleus. The
        alpha particle is about .7 percent less massive than the four protons. The
        difference in mass is expelled as energy and is carried to the surface
        of the Sun, through a process known as
        convection,
        where it is released as light and heat.
        Energy generated in the Sun's core takes a million
        years to reach its surface.
        Every second 700 million tons of hydrogen are converted
        into helium <i>ashes</i>. In the process 5 million tons of pure energy
        is released; therefore, as time goes on the Sun is becoming lighter.
    </p><p>
    <a href="../images/solar/VSS00031.htm">
        <img src="../images/solar/VSS00031.jpg" alt="Sun Diagram" border="1" width="300" height="300" style="margin-left:6pt; float: right;"></a>
    </p><p>
        The chromosphere is above the photosphere. Solar energy passes through
        this region on its way out from the center of the Sun.
        Faculae and flares arise in
        the chromosphere. Faculae are bright luminous hydrogen clouds which form
        above regions where sunspots are about to form. Flares are bright
        filaments of hot gas emerging from sunspot regions.
        Sunspots are dark depressions on the photosphere
        with a typical temperature of 4,000°C (7,000°F).

    </p><p>The corona is the outer part of the Sun's atmosphere. It is in this
        region that <i>prominences</i> appears. Prominences are immense
        clouds of glowing gas that erupt from the upper chromosphere. The
        outer region of the corona stretches far into space and consists of
        particles traveling slowly away from the Sun. The corona can only
        be seen during total solar eclipses.
    </p>
        The Sun appears to have been active for 4.6 billion years and
        has enough fuel to go on for another five billion years or so. At
        the end of its life, the Sun will start to fuse helium into
        heavier elements and begin to swell up, ultimately growing so
        large that it will swallow the Earth. After a billion years as a
        red giant, it will suddenly
        collapse into a white dwarf -- the final
        end product of a star like ours. It may take a trillion years to
        cool off completely.


    </p><p></p>
    </br>
    </br>
    </br>
    </br>
    </br>
    <div class="box">Statistics</div>
    </br>
    <center>
    <table border="0" class="stat" cellpadding="2" cellspacing="0">
        <tbody><tr class="stath1"><th colspan="2">Sun Statistics</th></tr>
        <tr class="statr1"><th align="LEFT">Mass (kg)</th><td align="RIGHT">1.989e+30</td></tr>
        <tr class="statr2"><th align="LEFT">Mass (Earth = 1)</th><td align="RIGHT">332,830</td></tr>
        <tr class="statr1"><th align="LEFT">Equatorial radius (km)</th><td align="RIGHT">695,000</td></tr>
        <tr class="statr2"><th align="LEFT">Equatorial radius (Earth = 1)</th><td align="RIGHT">108.97</td></tr>
        <tr class="statr1"><th align="LEFT">Mean density (gm/cm^3)</th><td align="RIGHT">1.410</td></tr>
        <tr class="statr2"><th align="LEFT">Rotational period (days)</th><td align="RIGHT">25-36*</td></tr>
        <tr class="statr1"><th align="LEFT">Escape velocity (km/sec)</th><td align="RIGHT">618.02</td></tr>
        <tr class="statr2"><th align="LEFT">Luminosity (ergs/sec)</th><td align="RIGHT">3.827e33</td></tr>
        <tr class="statr1"><th align="LEFT">Magnitude (Vo)</th><td align="RIGHT">-26.8</td></tr>
        <tr class="statr2"><th align="LEFT">Mean surface temperature</th><td align="RIGHT">6,000°C</td></tr>
        <tr class="statr1"><th align="LEFT">Age (billion years)</th><td align="RIGHT">4.5</td></tr>
        <tr class="statr2"><th align="LEFT">Principal chemistry
            <div class="indent">Hydrogen<br>Helium<br>Oxygen
                <br>Carbon<br>Nitrogen<br>Neon<br>Iron<br>Silicon<br>Magnesium<br>Sulfur<br>All others
            </div>
        </th>
            <td align="RIGHT"><br>92.1%<br>7.8%<br>0.061%<br>0.030%<br>0.0084%<br>0.0076%<br>0.0037%<br>0.0031%<br>0.0024%<br>0.0015%<br>0.0015%</td></tr>
        </tbody></table></center><p>

    * The Sun's period of rotation at the surface varies from
    approximately 25 days at the equator to 36 days at the poles. Deep
    down, below the convective zone, everything appears to rotate with
    a period of 27 days.


    <p></p><div class="box">The Sun Movie</div><p>
    <center>
        <iframe width="100%" height="720" src="https://www.youtube.com/embed/2HoTK_Gqi2Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

    <p></p><div class="box"> </div><p>
    <center>
    <a href="/SolarSystem/solarsystemintroduction"><img src="../images/solar/left-chevron.png" alt="" border="0" width="50" height="50"> The Solar System</a>
    <a href="/SolarSystem"><img src="../images/solar/home.gif" alt="" border="0"></a>
    <a href="/SolarSystem/mercury">Voyage to Mercury<img src="../images/solar/right-chevron.png" alt="" border="0" width="50" height="50"></a>
    </center>
                </div>
            </div>
        </div>
    </div>