<div class="solar">
    <div class="grid">
        <h1>The Solar System</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/solarsystemintroduction" class="category-item__link">Introduction</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/sun" class="category-item__link">Sun</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="/SolarSystem/mercury" class="category-item__link">Mercury</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/venus" class="category-item__link">Venus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/earth" class="category-item__link">Earth</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/mars" class="category-item__link">Mars</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/jupiter" class="category-item__link">Jupiter</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/saturn" class="category-item__link">Saturn</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/uranus" class="category-item__link">Uranus</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/neptune" class="category-item__link">Neptune</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/pluto" class="category-item__link">Pluto</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/asteroids" class="category-item__link">Asteroids</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/comets" class="category-item__link">Comets</a>
                        </li>
                        <li class="category-item">
                            <a href="/SolarSystem/meteoroids" class="category-item__link">Meteoroids and Meteorites</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="grid__column-10">
    <table border="0" width="100%">
        <tbody><tr><td align="LEFT" width="1%">
            <img src="../images/solar/venus2.jpg" border="0"  alt="Venus" align="LEFT">
        </td>
            <td align="CENTER">
                <font size="+3"><b>Venus Introduction</b></font><p>
                <i>Advance in science comes by laying brick upon brick, not by sudden erection of fairy palaces.
                    - J. S. Huxley
                </i>
            </p></td>
        </tr>
        </tbody></table>

    <div class="box"></div>

    <a name="intro">Venus,</a>
    the <b>jewel of the sky</b>, was once know by ancient astronomers as
    the <b>morning star</b> and <b>evening star</b>.  Early astronomers
    once thought Venus to be two separate bodies. Venus, which is named
    after the Roman goddess of love
    and beauty, is veiled by thick swirling cloud cover.
    <p>
        Astronomers refer to Venus as Earth's sister planet. Both are similar
        in size, mass, density and volume. Both formed about the same time
        and condensed out of the same nebula.
        However, during the last few years scientists have found that the
        kinship ends here. Venus is very different from the Earth. It has
        no oceans and is surrounded by a heavy atmosphere
        composed mainly of carbon dioxide with virtually no water vapor.
        Its clouds are composed of sulfuric acid droplets.
        At the surface, the atmospheric pressure is 92 times that of the
        Earth's at sea-level.
    </p><p>
    Venus is scorched with a surface temperature of about 482° C
    (900° F).
    This high temperature is primarily due to a runaway
    greenhouse effect caused
    by the heavy atmosphere of carbon dioxide.  Sunlight passes through
    the atmosphere to heat the surface of the planet. Heat is radiated out,
    but is trapped by the dense atmosphere and not allowed
    to escape into space. This makes Venus hotter than
    Mercury.
</p><p>
    A Venusian day is 243 Earth days and is longer than its year of
    225 days. Oddly, Venus rotates from east to west. To
    an observer on Venus, the Sun would rise in the west and set in the
    east.
</p><p>
    Until just recently, Venus' dense cloud cover has prevented scientists
    from uncovering the geological nature of the surface. Developments
    in radar telescopes and radar imaging systems orbiting
    the planet have made it possible to see through the cloud deck to
    the surface below. Four of the most successful missions in revealing the
    Venusian surface are
    NASA's Pioneer Venus mission (1978), the Soviet Union's Venera 15 and
    16 missions (1983-1984), and NASA's Magellan radar mapping mission
    (1990-1994). As these spacecraft began mapping the planet a new picture
    of Venus emerged.
</p><p>
    Venus' surface is relatively young geologically speaking. It appears to
    have been completely resurfaced 300 to 500 million years ago. Scientists
    debate how and why this occurred. The Venusian topography consists of
    vast plains covered by lava flows and mountain or highland regions
    deformed by geological activity. Maxwell Montes in Ishtar Terra is the
    highest peak on Venus. The Aphrodite Terra highlands extend almost
    half way around the equator. Magellan images of highland regions
    above 2.5 kilometers (1.5 miles) are unusually bright, characteristic of moist soil.
    However, liquid water does not exist on the surface and cannot account
    for the bright highlands. One theory suggests that the bright material
    might be composed of metallic compounds. Studies have shown the material
    might be iron pyrite (also know as "fools gold").
    It is unstable on the plains but would be stable in the highlands.
    The material could also be some type of exotic material which would
    give the same results but at lower concentrations.
</p>
    Venus is scarred by numerous impact craters
    distrubuted randomly over its surface. Small craters less that 2 kilometers
    (1.2 miles) are almost non-existent due to the heavy Venusian atmosphere.
    The exception occurs when large meteorites shatter just before impact, creating
    crater clusters.
    Volcanoes and volcanic features are even more numerous. At least 85% of
    the Venusian surface is covered with volcanic rock. Hugh lava flows,
    extending for hundreds of kilometers, have flooded the lowlands creating
    vast plains. More than 100,000 small shield volcanoes dot the surface along
    with hundreds of large volcanos. Flows from volcanos have produced long
    sinuous channels extending for hundreds of kilometers, with one extending
    nearly 7,000 kilometers (4,300 miles).
    </p><p>
    Giant calderas more than
    100 kilometers (62 miles) in diameter are found on Venus. Terrestrial
    calderas are usually only several kilometers in diameter. Several
    features unique to Venus include coronae and arachnoids. Coronae are
    large circular to oval features, encircled with cliffs and are hundreds
    of kilometers across. They are thought to be the surface expression of
    mantle upwelling. Archnoids are circular to elongated features similar
    to coronae. They may have been caused by molten rock seeping into surface
    fractures and producing systems of radiating dikes and fractures.

</p>




    </br>
    </br>
    <div class="box">Statistics</div>
    </br>
    <center>
        <table border="0" class="stat" cellpadding="2" cellspacing="0">
            <tbody><tr class="stath1"><th colspan="2">Venus Statistics</th></tr>
            <tr class="statr1"><th align="LEFT">Mass (kg)</th><td align="RIGHT">4.869e+24</td></tr>
            <tr class="statr2"><th align="LEFT">Mass (Earth = 1)</th><td align="RIGHT">.81476</td></tr>
            <tr class="statr1"><th align="LEFT">Equatorial radius (km)</th><td align="RIGHT">6,051.8</td></tr>
            <tr class="statr2"><th align="LEFT">Equatorial radius (Earth = 1)</th><td align="RIGHT">.94886</td></tr>
            <tr class="statr1"><th align="LEFT">Mean density (gm/cm^3)</th><td align="RIGHT">5.25</td></tr>
            <tr class="statr2"><th align="LEFT">Mean distance from the Sun (km)</th><td align="RIGHT">108,200,000</td></tr>
            <tr class="statr1"><th align="LEFT">Mean distance from the Sun (Earth = 1)</th><td align="RIGHT">0.7233</td></tr>
            <tr class="statr2"><th align="LEFT">Rotational period (days)</th><td align="RIGHT">-243.0187</td></tr>
            <tr class="statr1"><th align="LEFT">Orbital period (days)</th><td align="RIGHT">224.701</td></tr>
            <tr class="statr2"><th align="LEFT">Mean orbital velocity (km/sec)</th><td align="RIGHT">35.02</td></tr>
            <tr class="statr1"><th align="LEFT">Orbital eccentricity</th><td align="RIGHT">0.0068</td></tr>
            <tr class="statr2"><th align="LEFT">Tilt of axis (degrees)</th><td align="RIGHT">177.36</td></tr>
            <tr class="statr1"><th align="LEFT">Orbital inclination (degrees)</th><td align="RIGHT">3.394</td></tr>
            <tr class="statr2"><th align="LEFT">Equatorial surface gravity (m/sec^2)</th><td align="RIGHT">8.87</td></tr>
            <tr class="statr1"><th align="LEFT">Equatorial escape velocity (km/sec)</th><td align="RIGHT">10.36</td></tr>
            <tr class="statr2"><th align="LEFT">Visual geometric albedo</th><td align="RIGHT">0.65</td></tr>
            <tr class="statr1"><th align="LEFT">Magnitude (Vo)</th><td align="RIGHT">-4.4</td></tr>
            <tr class="statr2"><th align="LEFT">Mean surface temperature</th><td align="RIGHT">482°C</td></tr>
            <tr class="statr1"><th align="LEFT">Atmospheric pressure (bars)</th><td align="RIGHT">92</td></tr>
            <tr valign="TOP" class="statr2"><th align="LEFT">Atmospheric composition
                <div class="indent">Carbon dioxide<br>Nitrogen
                    <p>
                        Trace amounts of: Sulfur dioxide, water vapor,<br>carbon
                        monoxide, argon, helium, neon,<br>hydrogen chloride, and
                        hydrogen fluoride.</p></div>
            </th><td align="RIGHT"><br>96%&nbsp;<br>3+%&nbsp;</td></tr>
            </tbody></table>
    </center><p>


    <p></p><div class="box">The Venus Movie</div><p>
    <center>
        <iframe width="100%" height="720" src="https://www.youtube.com/embed/BvXa1n9fjow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

    <p></p><div class="box"> </div><p>
    <center>
        <a href="/SolarSystem/mercury"><img src="../images/solar/left-chevron.png" alt="" border="0" width="50" height="50">Mercury</a>
        <a href="/SolarSystem"><img src="../images/solar/home.gif" alt="" border="0"></a>
        <a href="/SolarSystem/earth">Earth<img src="../images/solar/right-chevron.png" alt="" border="0" width="50" height="50"></a>
    </center>
            </div>
        </div>
    </div>
</div>