<div class="grid">
    <div class="stars">
        <h1>Astronomers traced this FRB back to a strange place</h1>
        <p>Researchers have tracked a mysterious radio signal to an old cluster of stars — exactly where they wouldn’t expect to see it.</p>
        <p>By Alison Klesman  |  Published: Thursday, March 3, 2022</p>
        <p>RELATED TOPICS: STARS | ASTROPHYSICS</p>

        <img src="../images/news/stars01.png" alt="">
        <p>Since 2007, astronomers have been working to unravel the mystery of brief, intense flashes of radio waves called
            fast radio bursts, or FRBs. In the ensuing decade and a half, they have surmised that these signals likely arise
            from a type of extremely magnetic neutron stars called magnetars.</p>
        <p>Now, work published Feb. 23 in the journals Nature and Nature Astronomy raises new, interesting questions about these cosmic conundrums. An international team of researchers focused on studying a particular repeating FRB has announced two major findings: First, they’ve traced this FRB back to an unexpected place in its home galaxy. And second, the intense flashes are so short, they must be coming from a region just a few yards across.</p>
        <h2>Magnetic monsters</h2>
        <p>Astronomers currently believe FRBs are associated with magnetar, an extreme class of neutron stars. Magnetars' magnetic fields are 100 to 1,000 times stronger than that of a typical neutron star, and some one thousand trillion times stronger than Earth’s magnetic field.</p>
        <p>Neutron stars are already known for their small size, packing roughly the mass of the Sun into an object the size of Manhattan. This is one reason astronomers think FRBs might be associated with them. In this particular case, astronomers measured the bursts from their target (called FRB 20200120E) lasting as little as 60 nanoseconds, or 60 billionths of a second. That’s even shorter than usual for an FRB.</p>

    </div>
</div>